flujo_n8n/Respaldo/BAU_GESTIONLLAMADA_MENSUAL_C.json
{
  "name": "BAU_GESTIONLLAMADA_MENSUAL_C",
  "nodes": [
    {
      "parameters": {
        "content": "📋 ¿QUÉ HACE?\n═════════════\nCarga las REGLAS de la campaña\n\n🎯 REGLAS IMPORTANTES:\n- Máximo 7 intentos por cliente\n- Horarios de llamada (4 ventanas)\n- Qué teléfonos usar en cada horario\n- Cuándo volver a llamar según resultado\n\n💡 EJEMPLO:\nLunes 9:00-18:59 → Solo celulares\nLunes 19:00-22:00 → Todos los teléfonos",
        "height": 280,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2360,
        0
      ],
      "typeVersion": 1,
      "id": "cd6ac55d-5fe7-44bc-a34a-8f1bac916f94",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "🔍 BUSCAR PRÓXIMO CLIENTE\n═════════════════════════\nSelecciona 1 cliente de la BD\n\nPRIORIDAD:\n1. Clientes nuevos\n2. Mayor prioridad (más urgente)\n3. Más antiguos\n\n✅ Marca como \"en_progreso\"\n🔒 SKIP LOCKED (no duplicar)",
        "height": 260,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2560,
        560
      ],
      "typeVersion": 1,
      "id": "ce421c2d-cf43-4189-a891-4976e4fd7bad",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🎲 ¿LLAMAR AHORA?\n═════════════════\n\nValida SI se puede llamar\n\n✅ VALIDACIONES:\n1. ¿Menos de 7 intentos? ✓\n2. ¿Estamos en horario? ✓\n3. ¿No llamó mucho hoy? ✓\n\n❌ SI NO CUMPLE:\n→ Marca \"pendiente\"\n→ Programa próxima llamada\n\n🔄 RESET VENTANA:\nCuando cambia de ventana\nreinicia contador y cursor\ndel teléfono\n\n💾 GUARDA:\n- win_stamp: ID ventana actual\n- win_tries: Intentos en ventana\n- telefono_index: Posición del tel",
        "height": 480,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        -220
      ],
      "typeVersion": 1,
      "id": "166a52c4-7d7f-4940-90c6-98b38d811a16",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "📞 ELEGIR TELÉFONO\n══════════════════\n\nSelecciona QUÉ número llamar\n\n📋 PROCESO:\n1. Lee campos permitidos\n   (según ventana horaria)\n\n2. Normaliza números a E.164\n   \"09 9999-9999\" \n   → \"+593999999999\"\n\n3. Valida formato\n   ✅ Entre 7-15 dígitos\n   ✅ Empieza con +\n   ❌ Solo ceros\n\n4. Elige primer número válido\n   (según orden de ventana)\n\n🔍 DETECTA:\n- hasPhonesOutsideWindow\n  (tiene números pero no permitidos)\n- isOutOfNumbers\n  (no hay números válidos)\n\n⚠️ NO avanza el cursor automático\n(PROCESA LOS NUMEROS Y FORMATEA lo resetea al cambiar ventana)",
        "height": 620,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -460
      ],
      "typeVersion": 1,
      "id": "eb4db650-0112-4bda-8325-f2509e787b69",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "AQUI QUEREMOS PERSISTENCIA UNA TAREA AUTOMATIZADA QUE OCURRE CADA 20",
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3380,
        220
      ],
      "id": "7672b5aa-7540-4e9c-80e7-c3e997b28b5f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3120,
        460
      ],
      "id": "3e6166ac-0aff-4f26-94db-3d9f7982e70d",
      "name": "EJECUTA ESTO CADA 20 SEG"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nWITH cfg AS (\n  SELECT \n    0::int  AS pr_fresh, \n    -5::int AS pr_min\n),\n\nbandera_hoy AS (\n  SELECT id_bandera\n  FROM public.bandera_calendario\n  WHERE fecha = CURRENT_DATE\n    AND procesada = false\n  LIMIT 1\n),\n\n/* 🔥 MOTIVOS QUE NO SE DEBEN REINTENTAR */\npermanent_discard AS (\n  SELECT UNNEST(ARRAY[\n    0,\n    2, 1129, 2620, 2029, 1695, 5, 2520, 14,\n    22, 1043, 23, 24, 25, 1005, 1130, 26, 27, 28, 29, 30,\n    40, 39,\n    44\n  ]) AS motivo\n),\n\n/* 🔥 NORMALIZAR phones_meta */\nphones_meta_norm AS (\n  SELECT \n    l.id_registro,\n    COALESCE(\n      l.system_payload->'_phones_meta',\n      '{}'::jsonb\n    ) AS meta\n  FROM public.leads_v2 l\n),\n\n/* 🔥 SELECCIÓN DEL SIGUIENTE LEAD */\nnext AS (\n  SELECT l.id_registro\n  FROM public.leads_v2 l\n  JOIN phones_meta_norm pm ON pm.id_registro = l.id_registro\n  CROSS JOIN cfg\n  CROSS JOIN bandera_hoy\n\n  WHERE l.status_flujo IN ('pendiente', 'reintentar')\n\n    AND (l.reintentar_iso IS NULL OR l.reintentar_iso <= NOW())\n\n    /* 🔥 LÍMITE DE VIDA: 14 intentos */\n    AND COALESCE(l.intentos_llamada, 0) < 14\n\n    /* 🔥 LÍMITE DIARIO: 7 intentos */\n    AND (\n        l.last_try_ymd IS DISTINCT FROM CURRENT_DATE\n        OR COALESCE((l.system_payload->>'_intentos_hoy')::int, 0) < 7\n    )\n\n    AND l.id_campania = '5595'\n\n    /* 🔥 evitar descartes permanentes */\n    AND (\n      l.motivo_ultimo IS NULL\n      OR l.motivo_ultimo NOT IN (\n        SELECT motivo FROM permanent_discard WHERE motivo IS NOT NULL\n      )\n    )\n\n    /* 🔥 VALIDACIÓN MULTI-PHONE */\n    AND (\n      pm.meta = '{}'::jsonb\n      OR EXISTS (\n        SELECT 1\n        FROM jsonb_each(pm.meta) AS p(phone, meta)\n        WHERE COALESCE((meta->>'tries')::int, 0) < 3\n      )\n    )\n\n  ORDER BY\n\n    /* 🔥 prioridad */\n    CASE \n      WHEN COALESCE(l.prioridad_actual, cfg.pr_fresh) = cfg.pr_fresh THEN 0 \n      ELSE 1 \n    END,\n\n    COALESCE(GREATEST(l.prioridad_actual, cfg.pr_min), cfg.pr_fresh) DESC,\n\n    /* 🔥 teléfono menos usado primero */\n    (\n      SELECT COALESCE(\n        MIN(COALESCE((meta->>'tries')::int, 0)),\n        0\n      )\n      FROM jsonb_each(pm.meta) AS p(phone, meta)\n    ) ASC,\n\n    l.reintentar_iso NULLS FIRST,\n    l.picked_at      NULLS FIRST,\n    l.created_at\n\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n),\n\n/* 🔥 MARCAR COMO EN PROCESO */\nupd AS (\n  UPDATE public.leads_v2 l\n  SET \n    status_flujo = 'en_progreso',\n    picked_at    = NOW()\n  FROM next\n  WHERE l.id_registro = next.id_registro\n  RETURNING l.*\n)\n\n/* 🔥 OUTPUT FINAL */\nSELECT \n  l.*,\n\n  /* 🔥 control teléfono */\n  l.telefono_field,\n  l.telefono_index,\n\n  /* 🔥 teléfono dinámico */\n  CASE l.telefono_field\n    WHEN 'ph_celular'   THEN l.ph_celular\n    WHEN 'ph_celular2'  THEN l.ph_celular2\n    WHEN 'ph_telefono4' THEN l.ph_telefono4\n    ELSE NULL\n  END AS telefono_actual,\n\n  /* 🔥 metadata segura */\n  COALESCE(\n    l.system_payload->'_phones_meta',\n    '{}'::jsonb\n  ) AS phones_meta\n\nFROM upd l;\n\nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2500,
        360
      ],
      "id": "5add3b92-27ad-47e6-b8bf-ec732be6417a",
      "name": "BUSCA Y MARCA COMO EN PROCESO",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "399d66fc-66e0-450c-ae4b-553e88da1105",
              "leftValue": "={{ $json.id_registro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2220,
        380
      ],
      "id": "5db6a6f9-e008-47e9-8652-6f62de9a9572",
      "name": "SI SE ENCONTRO EL ID DEL REGISTRO"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1780,
        480
      ],
      "id": "f6fabeb6-d6fb-4cd0-93f9-f04cfcb5fd02",
      "name": "NO HACE NADA"
    },
    {
      "parameters": {
        "jsCode": "// pick_policy v2.0 (NOMENCLATURAS_MILLAS2) — prod-ready, preserva pairing\n// El codigo configura  , Para esta campaña, ¿cómo debo llamar a los leads, cuándo, cuántas veces, y qué hacer según el resultado?\nconst lead = $json;\nconst key  = String(lead.id_campania || lead.campaign_key || 'DEFAULT').toUpperCase();\n\nconst POLICIES = {\n  DEFAULT: {\n    policyVersion: '2.0',\n    TZ: 'America/Guayaquil',\n    CC: '+593',\n    \n    // Límites generales (hoja: \"Maximum number of tries per day = 0\")\n    dayMax: 7,\n    dayWait: 240,\n    offHoursWait: 60,\n    \n    // Tope de intentos de vida del lead (fila \"Maximum number of tries = 7\")\n    maxLifetimeTries: 14,\n    \n    // Switches (hoja: NO \"hop\" intra-intervalo)\n    retryNoAnswerSameDay: false,\n    hopOnVoicemail: false,\n    hopOnBusy: false,\n    hopWaitMin: 1,\n    \n    // Clamp de prioridad\n    priorityMin: -5,\n    priorityMax:  0,\n    \n    // Reset de cursor/tries al cambiar de ventana (la hoja dice \"Reset contact tries: Yes\")\n    resetContactTriesOnWindowChange: true,\n    nightlyResetAt: '05:00',\n    \n    // Ventanas + orden de teléfonos (calcado a la hoja)\n    windows: [\n { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    ],\n    \n    // ═══════════════════════════════════════════════════════════════════════\n    // OUTCOMES: Alineados 100% con NOMENCLATURAS_MILLAS2\n    // ═══════════════════════════════════════════════════════════════════════\n    outcomes: [\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 1: ACEPTACION\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 1, idMotivo: 0, key: 'ACEPTACION', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['ACEPTACIÓN'] },\n\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 2: NO ACEPTACION\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 2, idMotivo: 5, key: 'NO CONFIA EN ESTE TIPO DE LLAMADAS', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO CONFIA', 'DESCONFIA'] },\n      { idNom: 2, idMotivo: 153, key: 'NO TIENE LA TARJETA.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO TIENE TARJETA', 'SIN TARJETA'] },\n      { idNom: 2, idMotivo: 169, key: 'TARJETA CANCELADA.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['TARJETA CANCELADA', 'CANCELO TARJETA'] },\n      { idNom: 2, idMotivo: 1113, key: 'CLIENTE NO DA APERTURA AL INICIO DE LA LLAMADA.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO DA APERTURA INICIO', 'SIN APERTURA'] },\n      { idNom: 2, idMotivo: 1225, key: 'NO LE INTERESA EL SERVICIO NO QUIERE DAR MOTIVOS.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO INTERESA SIN MOTIVO', 'NO INTERESA'] },\n      { idNom: 2, idMotivo: 1583, key: 'NO DA APERTURA..', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO DA APERTURA'] },\n      { idNom: 2, idMotivo: 1689, key: 'CLIENTE DESEA ACERCARSE AL BANCO...', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['DESEA IR AL BANCO', 'PREFIERE IR AL BANCO'] },\n      { idNom: 2, idMotivo: 3042, key: 'CLIENTE CIERRA MOLESTO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CIERRA MOLESTO', 'CUELGA MOLESTO', 'ENOJADO'] },\n      { idNom: 2, idMotivo: 3043, key: 'CLIENTE NO DESEA LO VUELVAN A LLAMAR', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO VOLVER A LLAMAR', 'NO MAS LLAMADAS'] },\n      { idNom: 2, idMotivo: 3044, key: 'CLIENTE NO CUENTA CON CUENTA / TARJETA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['SIN CUENTA NI TARJETA', 'NO TIENE CUENTA'] },\n      { idNom: 2, idMotivo: 3045, key: 'NO AUTORIZA USO DE SUS DATOS ELIMINAR BD', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO AUTORIZA DATOS', 'ELIMINAR DE BD'] },\n      { idNom: 2, idMotivo: 3046, key: 'NO DESEA SER TRANSFERIDO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO QUIERE TRANSFERENCIA', 'RECHAZA TRANSFERENCIA'] },\n      { idNom: 2, idMotivo: 3047, key: 'NO TIENE DINERO / TRABAJO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['SIN DINERO', 'SIN TRABAJO', 'DESEMPLEADO'] },\n      { idNom: 2, idMotivo: 3048, key: 'SERVICIO/PRODUCTO NO ES ATRACTIVO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO ATRACTIVO', 'NO LE GUSTA'] },\n      { idNom: 2, idMotivo: 3049, key: 'TITULAR CANCELARA LA CUENTA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CANCELARA CUENTA', 'VA A CANCELAR'] },\n\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 3: PENDIENTE DE ACEPTACION\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 3, idMotivo: 83, key: 'NECESITA PENSAR', wait: 240, maxTries: 2, deltaPrio: 0,\n        aliases: ['PENSARLO', 'LO PIENSA', 'VA A PENSAR'] },\n      { idNom: 3, idMotivo: 3052, key: 'PENDIENTE SOLO PREGUNTA DE TRANSFERENCIA', wait: 60, maxTries: 2, deltaPrio: 0,\n        aliases: ['PREGUNTA TRANSFERENCIA', 'SOLO PREGUNTO'] },\n\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 4: CONTACTO FALLIDO JUSTIFICADO (descarte permanente)\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 4, idMotivo: 25, key: 'EQUIVOCADO', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['NUMERO EQUIVOCADO', 'WRONG NUMBER'] },\n      { idNom: 4, idMotivo: 26, key: 'NO RESIDE EN EL PAIS', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['FUERA DEL PAIS PERMANENTE', 'EMIGRO'] },\n      { idNom: 4, idMotivo: 27, key: 'NO VIVE AHI', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['YA NO VIVE AHI', 'SE MUDO'] },\n      { idNom: 4, idMotivo: 30, key: 'TITULAR NO HABLA ESPANOL', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO HABLA ESPANOL', 'IDIOMA'] },\n      { idNom: 4, idMotivo: 65, key: 'CAMBIO DE LUGAR DE TRABAJO.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CAMBIO TRABAJO', 'NUEVO TRABAJO'] },\n      { idNom: 4, idMotivo: 66, key: 'CUENTA BANCARIA CERRADA.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CUENTA CERRADA', 'CERRO CUENTA'] },\n      { idNom: 4, idMotivo: 1028, key: 'CLIENTE SOLICITA NO SER LLAMADO.', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO LLAMAR MAS', 'SOLICITA NO LLAMAR'] },\n      { idNom: 4, idMotivo: 1030, key: 'IMPOSIBLE CONTACTARSE CON EL CLIENTE', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['IMPOSIBLE CONTACTAR', 'NO SE PUEDE CONTACTAR'] },\n      { idNom: 4, idMotivo: 3039, key: 'DISCAPACITADO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['DISCAPACIDAD', 'INCAPACITADO'] },\n      { idNom: 4, idMotivo: 3040, key: 'TITULAR FALLECIDO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['FALLECIDO', 'MURIO', 'FALLECIO'] },\n\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 5: CONTACTO FALLIDO NO JUSTIFICADO (reintentar)\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 5, idMotivo: 12, key: 'VOLVER A LLAMAR', wait: 60, maxTries: 2, deltaPrio: -1,\n        aliases: ['LLAMAR DESPUES', 'LLAMAR MAS TARDE'] },\n      { idNom: 5, idMotivo: 31, key: 'TITULAR ESTA FUERA DEL PAIS', wait: 240, maxTries: 1, deltaPrio: -1,\n        aliases: ['VIAJANDO', 'DE VIAJE'] },\n      { idNom: 5, idMotivo: 32, key: 'TITULAR NO SE ENCUENTRA', wait: 60, maxTries: 2, deltaPrio: -1,\n        aliases: ['NO ESTA', 'NO SE ENCUENTRA'] },\n      { idNom: 5, idMotivo: 33, key: 'LLAMAR A OTRO TELEFONO', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['OTRO NUMERO', 'OTRO TELEFONO'] },\n      { idNom: 5, idMotivo: 35, key: 'SE CORTO LA LLAMADA', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['LLAMADA CORTADA', 'SE CORTO', 'CALL DROPPED'] },\n      { idNom: 5, idMotivo: 71, key: 'NO SE TRANSFIRIO LA LLAMADA AL TITULAR.', wait: 30, maxTries: 2, deltaPrio: -1,\n        aliases: ['NO TRANSFIRIERON', 'NO PASO AL TITULAR'] },\n\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 6: NO CONTACTO JUSTIFICADO (descarte permanente)\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 6, idMotivo: 40, key: 'LINEA TELEFONICA NO EXISTE', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['LINEA NO EXISTE', 'NUMERO NO EXISTE'] },\n      { idNom: 6, idMotivo: 1230, key: 'LINEA TELEFONICA FUERA DE SERVICIO O SUSPENDIDO', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['FUERA DE SERVICIO', 'SUSPENDIDO', 'LINEA SUSPENDIDA'] },\n\n      // ─────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 7: NO CONTACTO NO JUSTIFICADO (Phone Rules ATT)\n      // ─────────────────────────────────────────────────────────────────────\n      { idNom: 7, idMotivo: -10, key: 'TONO DE FAX (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['TONO DE FAX (ATT)', 'FAX ATT', 'FAX'] },\n      { idNom: 7, idMotivo: -9, key: 'LLAMADA REDIRECCIONADA (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['LLAMADA REDIRECCIONADA (ATT)', 'REDIRECCIONADA'] },\n      { idNom: 7, idMotivo: -8, key: 'INSUFICIENCIA DE LINEAS TELEFONICAS (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['INSUFICIENCIA DE LINEAS TELEFONICAS (ATT)', 'LINEAS INSUFICIENTES'] },\n      { idNom: 7, idMotivo: -7, key: 'LINEA TELEFONICA NO VALIDA PARA PSTN (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['LINEA TELEFONICA NO VALIDA PARA PSTN (ATT)', 'NO VALIDA PSTN'] },\n      { idNom: 7, idMotivo: -6, key: 'LLAMADA RECHAZADA (ATT).', wait: 1, maxTries: 0, deltaPrio: 0,\n        aliases: ['LLAMADA RECHAZADA (ATT)', 'RECHAZADA ATT', 'REJECTED'] },\n      { idNom: 7, idMotivo: -5, key: 'CLIENTE EN ESPERA CUELGA (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['CLIENTE EN ESPERA CUELGA (ATT)', 'CUELGA EN ESPERA'] },\n      { idNom: 7, idMotivo: -4, key: 'CLIENTE EN COLA CUELGA (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['CLIENTE EN COLA CUELGA (ATT)', 'CUELGA EN COLA'] },\n      { idNom: 7, idMotivo: -3, key: 'NO CONTESTA (ATT).', wait: 60, maxTries: 0, deltaPrio: -4,\n        aliases: ['NO CONTESTA (ATT)', 'NO CONTESTA', 'NO ANSWER'] },\n      { idNom: 7, idMotivo: -2, key: 'BUZON DE VOZ (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['BUZON DE VOZ (ATT)', 'BUZON DE VOZ', 'VOICEMAIL', 'CONTESTADORA', 'MACHINE ANSWER'] },\n      { idNom: 7, idMotivo: -1, key: 'SUENA OCUPADO (ATT).', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['SUENA OCUPADO (ATT)', 'OCUPADO', 'BUSY'] },\n      { idNom: 7, idMotivo: 41, key: 'BUZON DE VOZ', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['VOICEMAIL SIN ATT'] },\n      { idNom: 7, idMotivo: 1108, key: 'IVR DE EMPRESA.', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['IVR', 'IVR EMPRESA', 'CONTESTADOR EMPRESA'] },\n      { idNom: 7, idMotivo: 3050, key: 'CLIENTE EN COLA CUELGA (ATT)', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: [] },\n      { idNom: 7, idMotivo: 3051, key: 'NO CONTESTA / OCUPADO', wait: 60, maxTries: 0, deltaPrio: -4,\n        aliases: ['NO CONTESTA OCUPADO'] },\n    ],\n  },\n  \n  // ═══════════════════════════════════════════════════════════════════════\n  // OVERRIDES POR CAMPAÑA (ejemplo)\n  // ═══════════════════════════════════════════════════════════════════════\n  // 'EC-2025-AGRESIVA': {\n  //   ...POLICIES.DEFAULT,\n  //   maxLifetimeTries: 10,\n  //   windows: [ ... ],\n  // },\n};\n\n$json.system_payload = POLICIES[key] || POLICIES.DEFAULT;\nreturn items; // ← mantiene pairing"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1740,
        240
      ],
      "id": "7f98edab-17ff-4d77-b2f5-4115fe877f81",
      "name": "COMO DEBE LLAMAR EL BOT (POLITICAS)"
    },
    {
      "parameters": {
        "jsCode": "/************************************************************\n *  CODE 8 — DIAL LOGIC (v2.17 - Alineado NOMENCLATURAS_MILLAS2)\n *  ▸ Inyecta política DEFAULT si no llega system_payload\n *  ▸ Valida horario (windows) y límite por ventana (=1)\n *  ▸ Restaura pairing de DB (win_* y telefono_index)\n *  ▸ Reset del cursor SOLO al CAMBIAR DE VENTANA\n *  ▸ dayMax = 0 (sin límite diario). No hay resets nocturnos.\n *  ▸ Guard: respeta maxLifetimeTries\n *  ▸ NOTA: NO define outcomes - eso lo hace Code 2 (post-llamada)\n ************************************************************/\n\n/* 0) Fallback de política dentro de Code8 (solo si no viene nada) */\n(function ensurePolicy(){\n  const hasPolicy =\n    $json.system_payload &&\n    ((typeof $json.system_payload === 'object' && Object.keys($json.system_payload).length) ||\n     (typeof $json.system_payload === 'string' && $json.system_payload.trim().length));\n\n  if (hasPolicy) return;\n\n  const key = String($json.id_campania || $json.campaign_key || 'DEFAULT').toUpperCase();\n\n  const POLICY_DEFAULT = {\n    policyVersion: '2.0',\n    TZ: 'America/Guayaquil',\n    CC: '+593',\n\n    // ═══════════════════════════════════════════════════════════\n    // LÍMITES GENERALES (hoja Altiva)\n    // ═══════════════════════════════════════════════════════════\n    dayMax: 7,\n    dayWait: 240,\n    offHoursWait: 60,\n    maxLifetimeTries: 14,\n\n    // ═══════════════════════════════════════════════════════════\n    // TOGGLES\n    // ═══════════════════════════════════════════════════════════\n    retryNoAnswerSameDay: false,\n    hopOnVoicemail: false,\n    hopOnBusy: false,\n    hopWaitMin: 1,\n\n    // ═══════════════════════════════════════════════════════════\n    // PRIORIDAD\n    // ═══════════════════════════════════════════════════════════\n    priorityMin: -5,\n    priorityMax:  0,\n\n    // ═══════════════════════════════════════════════════════════\n    // RESET DE CONTADORES\n    // ═══════════════════════════════════════════════════════════\n    resetContactTriesOnWindowChange: true,\n    nightlyResetAt: '05:00',\n\n    // ═══════════════════════════════════════════════════════════\n    // VENTANAS HORARIAS (calcado a hoja Altiva)\n    // ═══════════════════════════════════════════════════════════\n    windows: [\n   { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '0,6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    ],\n\n    // ═══════════════════════════════════════════════════════════\n    // OUTCOMES: No se definen aquí - Code 2 los inyecta post-llamada\n    // Code 8 es PRE-llamada, no necesita outcomes\n    // ═══════════════════════════════════════════════════════════\n  };\n\n  const POLICIES = { DEFAULT: POLICY_DEFAULT };\n  $json.system_payload = POLICIES[key] || POLICY_DEFAULT;\n  $json._policy_source = 'Code8_fallback';\n})();\n\nfunction parsePayload(v){\n  if (!v) return {};\n  if (typeof v === 'object') return v;\n  let s = String(v).trim();\n  if (s.startsWith('=')) s = s.slice(1).trim();\n  try { return JSON.parse(s); } catch {}\n  try { return JSON.parse(JSON.parse(s)); } catch {}\n  return {};\n}\nconst parseIntSafe = (v, def = 0) => {\n  const n = parseInt(v ?? def, 10);\n  return Number.isNaN(n) ? def : n;\n};\n\n/* Defaults para fallback seguro */\nconst DEFAULT_POLICY = {\n  TZ: 'America/Guayaquil',\n  offHoursWait: 60,\n  maxLifetimeTries: 14,\n  windows: [\n    { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n  ],\n};\n\n/* 1) Cargar política + normalizar */\nconst cfgIn = parsePayload($json.system_payload) || {};\nconst cfg   = { ...DEFAULT_POLICY, ...cfgIn };\nconst TZ    = cfg.TZ || DEFAULT_POLICY.TZ;\nconst windows = Array.isArray(cfg.windows) && cfg.windows.length\n  ? cfg.windows\n  : DEFAULT_POLICY.windows;\n\n/* Dejar la política normalizada disponible para los siguientes nodos */\n$json.system_payload = cfg;\n\n/* 2) Restaurar pairing desde DB */\nfunction firstItemFrom(nodeName) {\n  try {\n    const arr = $items(nodeName, 0) || [];\n    return arr.length ? (arr[0].json || {}) : null;\n  } catch { return null; }\n}\n\nconst DB_NODE_CANDIDATES = [\"Execute a SQL query\"];\n\nlet row = null;\nfor (const name of DB_NODE_CANDIDATES) {\n  row = firstItemFrom(name);\n  if (row) break;\n}\nif (!row) row = ($json.row || {});\n\nif ($json.intentos_llamada == null) $json.intentos_llamada = row.intentos_llamada ?? 0;\nif (!$json.last_try_ymd)            $json.last_try_ymd     = row.last_try_ymd     ?? null;\nif ($json.prioridad_actual == null) $json.prioridad_actual = row.prioridad_actual ?? 0;\nif (!$json.win_stamp && row.win_stamp)                 $json.win_stamp = row.win_stamp;\nif ($json.win_tries == null && row.win_tries != null)  $json.win_tries = row.win_tries;\nif ($json.telefono_index == null && row.telefono_index != null) {\n  $json.telefono_index = row.telefono_index;\n}\n\n/* 2.5) Guard de intentos de vida */\nconst lifeMax = Number.isFinite(+cfg.maxLifetimeTries) ? +cfg.maxLifetimeTries : 7;\nconst totalTries = Number($json.intentos_llamada || 0);\nif (totalTries >= lifeMax) {\n  $json.puedeLlamar    = false;\n  $json.reintentar_iso = null;\n  $json.status_sugerido = 'agotado';\n  $json.win_id    = $json.win_id ?? null;\n  $json.win_stamp = $json.win_stamp ?? null;\n  $json.win_tries = $json.win_tries ?? null;\n  return $json;\n}\n\n/* 3) Ahora local y búsqueda de ventana activa */\nconst now  = new Date(new Date().toLocaleString('en-US', { timeZone: TZ }));\nconst hhmm = now.toTimeString().slice(0,5);\nconst dow  = now.getDay();\n\nconst win = windows.find(w =>\n  String(w.days).split(',').map(Number).includes(dow) &&\n  hhmm >= String(w.start) && hhmm <= String(w.end)\n);\n\n/* 4) Fuera de horario → no llamar, posponer offHoursWait */\nconst offHoursWait = parseIntSafe(cfg.offHoursWait, DEFAULT_POLICY.offHoursWait);\nif (!win) {\n  $json.puedeLlamar    = false;\n  const t = new Date(now); t.setMinutes(t.getMinutes() + offHoursWait);\n  $json.reintentar_iso = t.toISOString();\n  $json.win_id         = null;\n  $json.win_stamp      = $json.win_stamp ?? null;\n  $json.win_tries      = $json.win_tries ?? null;\n  $json.status_sugerido = 'pendiente';\n  return $json;\n}\n\n/* 5) Control por ventana (hoja: max=1, wait=30) */\nconst ymd = now.toISOString().slice(0,10);\nconst winId   = win.id ?? `D${dow}-${win.start}-${win.end}`;\nconst stamp   = `${ymd}:${winId}`;\nconst maxVent = parseIntSafe(win.max, 1);\nconst waitWin = parseIntSafe(win.wait, offHoursWait);\n\n/* Cambio de ventana → reset de contador y cursor */\nif ($json.win_stamp !== stamp) {\n  $json.win_stamp      = stamp;\n  $json.win_tries      = 0;\n  $json.telefono_index = 1;\n}\n\n/* Límite por ventana alcanzado → no llamar ahora */\nconst triesWin = parseIntSafe($json.win_tries, 0);\nif (triesWin >= maxVent) {\n  $json.puedeLlamar    = false;\n  const t = new Date(now); t.setMinutes(t.getMinutes() + waitWin);\n  $json.reintentar_iso = t.toISOString();\n  $json.win_id    = winId;\n  $json.win_stamp = $json.win_stamp;\n  $json.win_tries = $json.win_tries;\n  $json.status_sugerido = 'pendiente';\n  return $json;\n}\n\n/* 6) Se puede llamar → exponer orden de teléfonos de la ventana */\n$json.puedeLlamar    = true;\n$json.phones         = String(win.phones || '')\n  .split(',').map(s => s.trim()).filter(Boolean).join(',');\n$json.phones_allowed = $json.phones;\n$json.win_id         = winId;\n$json.win_stamp = $json.win_stamp;\n$json.win_tries = $json.win_tries;\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        280
      ],
      "id": "1ce811c6-181b-44a3-a08e-d2904275cb23",
      "name": "POLITICAS Y REINTENTOS (RESPALDO)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af1a295f-9033-4eff-8b80-d54d2b9ec868",
              "leftValue": "={{ $json.puedeLlamar }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1340,
        280
      ],
      "id": "c5812fdf-de40-4816-a325-f8fc3bab1da8",
      "name": "SI PUEDE LLAMAR (VERDADERO O FALSO)"
    },
    {
      "parameters": {
        "jsCode": "/*****************************************************************\n * SELECT PHONE v11 — VALIDACIÓN REAL ECUADOR\n * - Usa SOLO $json.phones (orden de la ventana).\n * - Normaliza a E.164 correctamente (EC).\n * - Valida celulares y fijos reales.\n * - Sin auto-avance ni hops.\n * - Sin recorrido circular.\n *****************************************************************/\n\n// =====================\n// CONFIG\n// =====================\nlet cfg = {};\ntry {\n  cfg = typeof $json.system_payload === 'string'\n    ? JSON.parse($json.system_payload)\n    : ($json.system_payload || {});\n} catch { cfg = {}; }\n\nconst CFG = { defaultCC: (cfg.CC || cfg.defaultCC || '+593') };\n\n// =====================\n// HELPERS\n// =====================\nfunction normalizeList(v){\n  if (!v) return [];\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'object') return Object.values(v);\n  return String(v).split(/[,;|]/);\n}\n\nconst stripToDigitsPlus = r => (r ?? '').toString().replace(/[^\\d+]/g, '');\n\n// =====================\n// VALIDACIÓN ECUADOR REAL\n// =====================\nconst PHONE_CODES = ['02','03','04','05','06','07'];\n\nfunction isValidECPhone(raw) {\n  if (!raw) return false;\n\n  let x = stripToDigitsPlus(raw);\n\n  if (x.startsWith('+')) x = x.slice(1);\n\n  // CELULAR\n  if (/^09\\d{8}$/.test(x)) return true;\n  if (/^5939\\d{8}$/.test(x)) return true;\n\n  // FIJO\n  if (/^2\\d{6}$/.test(x)) return true;\n\n  if (/^0\\d{8}$/.test(x)) {\n    const code = x.substring(0,2);\n    if (PHONE_CODES.includes(code)) return true;\n  }\n\n  if (/^593\\d{8,9}$/.test(x)) {\n    const region = x.substring(3,5);\n    if (PHONE_CODES.includes(region)) return true;\n  }\n\n  return false;\n}\n\n// =====================\n// NORMALIZACIÓN E.164 (CORRECTA)\n// =====================\nfunction toE164(n){\n  let x = stripToDigitsPlus(n).trim();\n  if (!x) return '';\n\n  // limpiar múltiples +\n  if (x.includes('+')) {\n    x = '+' + x.replace(/[+]/g, '');\n  }\n\n  // 00 → +\n  if (x.startsWith('00')) x = '+' + x.slice(2);\n\n  if (!x.startsWith('+') && CFG.defaultCC === '+593') {\n\n    // celular local\n    if (/^09\\d{8}$/.test(x)) {\n      x = '+593' + x.slice(1);\n    }\n\n    // fijo local\n    else if (/^0\\d{8}$/.test(x)) {\n      x = '+593' + x.slice(1);\n    }\n\n    // ya viene como 593...\n    else if (/^593\\d+$/.test(x)) {\n      x = '+' + x;\n    }\n\n    // fallback\n    else if (/^\\d{7,}$/.test(x)) {\n      x = CFG.defaultCC + x;\n    }\n  }\n\n  return x;\n}\n\n// =====================\n// VALIDADOR FINAL\n// =====================\nconst valid = n => {\n  if (!n) return false;\n  if (!/^\\+\\d{7,15}$/.test(n)) return false;\n  return isValidECPhone(n);\n};\n\n// =====================\n// CAMPOS\n// =====================\nconst windowCols = normalizeList($json.phones).map(s => s.trim()).filter(Boolean);\nconst cols = [...new Set(windowCols)];\n\n// detectar teléfonos fuera de ventana\nconst DIG_FIELDS = ['ph_celular','ph_celular2','ph_residencial','ph_residencial2','ph_comercial','ph_telefono4'];\nconst presentWithDigits = DIG_FIELDS.filter(f => /\\d/.test(String($json[f] || '')));\nconst allowedSet = new Set(cols);\n\n$json.hasPhonesOutsideWindow = presentWithDigits.some(f => !allowedSet.has(f));\n$json.phones_outside_fields = presentWithDigits.filter(f => !allowedSet.has(f)).join(',');\n\n// =====================\n// CURSOR\n// =====================\nlet idx = Number($json.telefono_index || 1);\nif (idx < 1) idx = 1;\n\n$json.phones_effective   = cols.join(',');\n$json.telefono_index_max = cols.length;\n\n// =====================\n// SIN NÚMEROS\n// =====================\nif (cols.length === 0 || idx > cols.length) {\n  $json.telefono_actual   = '';\n  $json.telefono_field    = '';\n  $json.isOutOfNumbers    = true;\n  $json.hasValidPhones    = false;\n  $json.telefono_try_list = [];\n\n  $json.reason_no_number =\n    cols.length === 0\n      ? 'NO_ALLOWED_FIELDS_IN_WINDOW'\n      : 'CURSOR_OUT_OF_RANGE';\n\n  return $json;\n}\n\n// =====================\n// SELECCIÓN\n// =====================\nlet elegido = '';\nlet elegidoField = '';\n\nconst tried = [];\nconst seen = new Set();\n\nfor (let pos = idx - 1; pos < cols.length; pos++) {\n\n  const field = cols[pos];\n  const raw   = $json[field];\n  const num   = toE164(raw);\n  const ok    = valid(num);\n\n  tried.push({ field, raw, num, valid: ok });\n\n  if (!num) continue;\n  if (seen.has(num)) continue;\n\n  seen.add(num);\n\n  if (ok) {\n    elegido = num;\n    elegidoField = field;\n    break;\n  }\n}\n\n// =====================\n// OUTPUT\n// =====================\n$json.telefono_actual   = elegido;\n$json.telefono_field    = elegidoField;\n$json.telefono_index    = idx; // NO AVANZA\n$json.isOutOfNumbers    = !elegido;\n$json.hasValidPhones    = tried.some(t => t.valid);\n$json.telefono_try_list = tried.slice(0, 12);\n\nif (!elegido) {\n  $json.reason_no_number = 'NO_VALID_NUMBER_IN_ALLOWED_FIELDS';\n}\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1100,
        180
      ],
      "id": "6dbff753-7767-46e1-8c32-1ccb24e3d93d",
      "name": "PROCESA LOS NUMEROS Y FORMATEA"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "status_flujo": "={{ $json.status_sugerido }}",
            "reintentar_iso": "={{ $json.reintentar_iso }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}",
            "last_outcome_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_actual",
              "displayName": "prioridad_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -880,
        380
      ],
      "id": "6b0149e0-7478-48b6-a68f-9019b2aaab13",
      "name": "GUARDA REGISTRO Y CAMPAÑA",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80e78026-bc55-4760-9d2e-9b210e4f4b0d",
              "name": "status_flujo",
              "value": "={{$json.status_sugerido}}",
              "type": "string"
            },
            {
              "id": "a0a74a6b-a0dc-4bd0-95cb-e301c54d8456",
              "name": "reintentar_iso",
              "value": "={{ $json.reintentar_iso }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1100,
        380
      ],
      "id": "8d15d6b4-8e40-4c11-bf1f-91cef2d91611",
      "name": "FORMATEA STATUS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71d6f329-2f85-4ba1-b581-2766d94ab22e",
              "leftValue": "={{ $json.isOutOfNumbers }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        180
      ],
      "id": "cbf57fee-f9cd-462f-8641-04a43b031977",
      "name": "SI NO ESTA FUERA DE LA LISTA DE NUMEROS DISPONIBLES"
    },
    {
      "parameters": {
        "jsCode": "/********************************************************\n * CODE 9 — Sin número elegible en la ventana (v3.5)\n * ACTUALIZADO: Alineado con NOMENCLATURAS_MILLAS2\n * - Si hay números pero la ventana no los permite → PENDIENTE\n *   y reintentar_iso = inicio de la próxima ventana que los admita.\n * - Si no hay dígitos en ningún campo → AGOTADO + DISCARDED.\n * - Si hay dígitos pero todos inválidos → AGOTADO + DISCARDED.\n ********************************************************/\nconst FIELDS = [\n  'ph_celular','ph_celular2','ph_residencial','ph_residencial2','ph_comercial','ph_telefono4'\n];\n\n// --- helpers de política/TZ ---\nfunction parseLoose(v){\n  if (!v) return {};\n  if (typeof v === 'object') return v;\n  let s = String(v).trim();\n  if (s.startsWith('=')) s = s.slice(1).trim();\n  try { return JSON.parse(s); } catch {}\n  try { return JSON.parse(JSON.parse(s)); } catch {}\n  return {};\n}\n\nconst DEFAULT_POLICY = {\n  TZ: 'America/Guayaquil',\n  offHoursWait: 60,\n  windows: [\n       { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '0,6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n   \n  ],\n};\n\nlet cfgIn = parseLoose($json.system_payload);\nconst cfg = { ...DEFAULT_POLICY, ...(cfgIn || {}) };\nconst TZ  = cfg.TZ || DEFAULT_POLICY.TZ;\nconst windows = (Array.isArray(cfg.windows) && cfg.windows.length) ? cfg.windows : DEFAULT_POLICY.windows;\nconst offHoursWait = Number.isFinite(+cfg.offHoursWait) ? +cfg.offHoursWait : DEFAULT_POLICY.offHoursWait;\n\n// --- utilidades de tiempo en TZ ---\nfunction nowTZ(){ return new Date(new Date().toLocaleString('en-US', { timeZone: TZ })); }\nfunction minutes(hhmm){ const [h,m]=String(hhmm).split(':').map(Number); return h*60+m; }\nfunction dateAtTZ(baseDate, hhmm){\n  const [H,M] = String(hhmm).split(':').map(Number);\n  const d = new Date(new Date(baseDate).toLocaleString('en-US', { timeZone: TZ }));\n  d.setHours(0,0,0,0);\n  d.setHours(H, M, 0, 0);\n  return d;\n}\n\n// --- estado de los phones ---\nconst anyDigits = FIELDS.some(f => /\\d/.test(String($json[f] || '')));\n\n// Si Code7 no lo calculó, lo calculamos aquí\nif (typeof $json.hasPhonesOutsideWindow === 'undefined') {\n  const allowed = new Set(String($json.phones_allowed || '').split(',').map(s=>s.trim()).filter(Boolean));\n  const present = FIELDS.filter(f => /\\d/.test(String($json[f] || '')));\n  $json.hasPhonesOutsideWindow = present.some(f => !allowed.has(f));\n}\nconst hasOutside = Boolean($json.hasPhonesOutsideWindow);\n\n// (1) Hay números pero en campos NO permitidos por la ventana → posponer a próxima ventana que sí los admita\nif (hasOutside) {\n  const presentFields = FIELDS.filter(f => /\\d/.test(String($json[f] || '')));\n  const now = nowTZ();\n  const nowMin = minutes(now.toTimeString().slice(0,5));\n\n  let best = null, bestWinId = null;\n\n  for (let addDay = 0; addDay <= 7; addDay++) {\n    const probe = new Date(now);\n    probe.setDate(probe.getDate() + addDay);\n    const dow = new Date(new Date(probe).toLocaleString('en-US', { timeZone: TZ })).getDay();\n\n    for (const w of windows) {\n      const okDay = String(w.days).split(',').map(Number).includes(dow);\n      if (!okDay) continue;\n\n      const allowed = new Set(String(w.phones||'').split(',').map(s=>s.trim()).filter(Boolean));\n      const intersects = presentFields.some(f => allowed.has(f));\n      if (!intersects) continue;\n\n      const startMin = minutes(w.start);\n      if (addDay === 0 && startMin <= nowMin) continue;\n\n      const cand = dateAtTZ(probe, w.start);\n      if (!best || cand < best) { best = cand; bestWinId = w.id || null; }\n    }\n    if (best) break;\n  }\n\n  $json.status_flujo        = 'pendiente';\n  $json.telefono_actual     = '';\n  $json.telefono_field      = '';\n  $json.isOutOfNumbers      = true;\n  $json.hasValidPhones      = true;\n  $json.telefono_try_list   = [];\n  $json.observaciones_internas = 'PHONES_OUTSIDE_WINDOW';\n  $json.reason_no_number    = 'NUMBERS_ONLY_IN_NON_ALLOWED_FIELDS';\n  $json.present_fields      = presentFields.join(',');\n\n  const fallback = new Date(now.getTime() + offHoursWait*60000);\n  const nextAt   = best || fallback;\n  $json.reintentar_iso = nextAt.toISOString();\n  if (bestWinId) $json.win_next_id = bestWinId;\n  $json.next_window_at = best ? best.toISOString() : null;\n\n  return $json;\n}\n\n// (2) No hay ningún dígito → cerrar como DISCARDED\n// NOMENCLATURAS_MILLAS2: Nomenclatura 4, id_motivo 1005\nif (!anyDigits) {\n  $json.status_flujo        = 'agotado';\n  $json.reintentar_iso      = null;\n  $json.telefono_actual     = '';\n  $json.telefono_field      = '';\n  $json.isOutOfNumbers      = true;\n  $json.hasValidPhones      = false;\n  $json.categoria_motivo    = 'IMPOSIBLE CONTACTARSE CON EL CLIENTE';\n  $json.id_nomenclatura     = 4;    // CONTACTO FALLIDO JUSTIFICADO\n  $json.id_motivo           = 1005; // IMPOSIBLE CONTACTARSE CON EL CLIENTE\n  $json.nomenclatura_ultima = 4;\n  $json.motivo_ultimo       = 1005;\n  $json.observaciones_internas = 'NO_PHONE_FIELDS';\n  $json.reason_no_number    = 'NO_DIGITS_IN_ANY_FIELD';\n  return $json;\n}\n\n// (3) Hay dígitos pero todos inválidos → DISCARDED\n// NOMENCLATURAS_MILLAS2: Nomenclatura 4, id_motivo 1030\n$json.status_flujo        = 'agotado';\n$json.reintentar_iso      = null;\n$json.telefono_actual     = '';\n$json.telefono_field      = '';\n$json.isOutOfNumbers      = true;\n$json.hasValidPhones      = false;\n$json.categoria_motivo    = 'IMPOSIBLE CONTACTARSE CON EL CLIENTE';\n$json.id_nomenclatura     = 4;    // CONTACTO FALLIDO JUSTIFICADO\n$json.id_motivo           = 1005; // IMPOSIBLE CONTACTARSE CON EL CLIENTE\n$json.nomenclatura_ultima = 4;\n$json.motivo_ultimo       = 1005;\n$json.observaciones_internas = 'ALL_INVALID_FORMATS';\n$json.reason_no_number    = 'ALL_NUMBERS_INVALID_IN_ALLOWED_FIELDS';\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        280
      ],
      "id": "9d9664f9-a84b-478d-b9d1-4f07aeb63c64",
      "name": "CUANDO NO SE ENCONTRO NUMERO VALIDO"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "status_flujo": "={{ $json.status_flujo }}",
            "reintentar_iso": "={{ $json.reintentar_iso }}",
            "win_stamp": "={{ $json._win_stamp }}",
            "observaciones_internas": "={{ $json.observaciones_internas }}",
            "telefono_actual": "={{ $json.telefono_actual }}",
            "telefono_field": "={{ $json.telefono_field }}",
            "win_id": "={{ $json.win_id }}",
            "phones_allowed": "={{ $json.phones_allowed }}",
            "last_outcome_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_actual",
              "displayName": "prioridad_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -340,
        300
      ],
      "id": "79aaa8f0-8573-4746-ae38-c30cab51eabd",
      "name": "GUARDAR REPORTE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 484afd71-2703-4852-8580-9629620dde82"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"outboundPhoneCall\",\n  \"name\": \"{{ $json.id_registro }}\",\n  \"assistantId\": \"e4f6e15f-1aac-4c5d-bb66-7314ce755571\",\n  \"phoneNumberId\": \"451334d1-9ee7-4659-aa0b-491450adcbe5\",\n  \n  \"customer\": {\n    \"number\": \"={{ ($json.telefono_actual || '').replace(/[^0-9+]/g,'').replace(/^00/,'+').trim() || null }}\",\n    \"numberE164CheckEnabled\": true\n  },\n\n  \"metadata\": {\n    \"id_campania\": \"{{ $json.id_campania }}\",\n    \"id_registro\": \"{{ $json.id_registro }}\"\n  },\n\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"id_campania\": \"{{ $json.id_campania }}\",\n      \"id_registro\": \"{{ $json.id_registro }}\",\n      \"cedula\": \"{{ $json.cedula }}\",\n      \"nuic\": \"{{ $json.nuic }}\",\n      \"nombre_cliente\": \"{{ $json.nombre_cliente }}\",\n      \"segmento\": \"{{ $json.segmento }}\",\n      \"ciudad\": \"{{ $json.ciudad }}\",\n      \"email\": \"{{ $json.email }}\",\n\"ph_celular\": \"{{ $json.ph_celular }}\",\n\"ph_celular2\":\"{{ $json.ph_celular }}\", \n\"ph_residencial\": \"{{ $json.ph_residencial }}\",\n\"ph_residencial2\": \"{{ $json.ph_residencial2 }}\",\n\"ph_comercial\": \"{{ $json.ph_comercial }}\",\n\"ph_telefono4\": \"{{ $json.ph_telefono4 }}\",\n      \"telefono_actual\":\"{{ $json.telefono_actual }}\",\n      \"telefono_field\":\"{{ $json.telefono_field }}\",\n      \"telefono_index\":\"{{ $json.telefono_index }}\",\n      \"win_id\":\"{{ $json.win_id }}\",\n      \"id_altiva\": \"{{ $json.id_altiva }}\",\n      \"sip\":\"9409\",\n      \"consumo\" : \"{{ $json.consumo }}\",\n      \"intentos_llamada\":\"{{ $json.intentos_llamada }}\",\n      \"tel_principal\": \"={{ (($json.telefono_actual || '').toString().replace(/[^0-9+]/g,'').replace(/^00/,'+').trim()) || null }}\",\n      \"win_tries\": \"{{ $json.win_tries }}\",\n      \"win_stamp\": \"{{ $json.win_stamp }}\",\n\"nombre\": \"{{ ($json.nombre_cliente || '').match(/^\\S+/)?.[0] ?? 'Cliente' }}\",\n      \"momento\":\"{{ $json.momento }}\"\n    }\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        200
      ],
      "id": "5c4f1e1f-9152-44cb-b5ef-c78975cdad7f",
      "name": "OCURRE LLAMADA A VAPI",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "picked_at": "={{ $now }}",
            "win_stamp": "={{ $json.win_stamp }}",
            "win_tries": "={{ $json.win_tries }}",
            "telefono_index": "={{ $json.telefono_index }}",
            "telefono_actual": "={{ $json.telefono_actual }}",
            "telefono_field": "={{ $json.telefono_field }}",
            "phones_allowed": "={{ $json.phones_allowed }}",
            "win_id": "={{ $json.win_id }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "prioridad_actual",
              "displayName": "prioridad_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -580,
        -20
      ],
      "id": "8d9a20c2-8e13-49f1-8b23-8a8abc6bee65",
      "name": "GUARDA REGISTRO",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "379fb369-995f-40b2-9560-a65a75eec52d",
      "name": "Limit1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        40,
        200
      ],
      "id": "5f5795b8-5c04-49cd-bc3c-b37e9e670fa7",
      "name": "Wait",
      "webhookId": "ebe7aac5-bfa1-4132-9b8c-502a74d03cf4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.generar_calendario_banderas(NOW()::DATE);\n\n",
        "options": {}
      },
      "id": "7804a996-1a16-4509-aeb6-f110e3c97da5",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2840,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  // Tomamos Hour desde el nodo lejano por su nombre\n  const hour = parseInt($('EJECUTA ESTO CADA 20 SEG').first().json.Hour);\n\n  const saludoManana = Math.random() < 0.5 ? \"Buenos días\" : \"Buen día\";\n\n  let momento;\n\n  if (hour >= 5 && hour < 12) {\n    momento = saludoManana;\n  } else if (hour >= 12 && hour < 18) {\n    momento = \"Buenas tardes\";\n  } else {\n    momento = \"Buenas noches\";\n  }\n\n  item.json.momento = momento;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        200
      ],
      "id": "de9008fd-6d13-48dd-b044-19c348ad4ab1",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 484afd71-2703-4852-8580-9629620dde82"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        140
      ],
      "id": "b1dd49c3-7905-447e-9142-3efc81e5a681",
      "name": "Consulta EL STATUS de la llamada",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "684f92a2-167c-4dc1-a5ff-add811b470b8",
              "name": "id_registro",
              "value": "={{ $('Establece los valores a guardar').item.json.id_cliente }}",
              "type": "string"
            },
            {
              "id": "627cf129-1dfa-4994-aed4-fa72da8e7b73",
              "name": "id_campania",
              "value": "={{ $('Establece los valores a guardar').item.json[\"id_campaña\"] }}",
              "type": "string"
            },
            {
              "id": "2ca1f5f5-6a54-49bb-96e8-5654a499cc89",
              "name": "resumen",
              "value": "={{ $('Establece los valores a guardar').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "be419b18-28bd-4e82-97c0-a1ce251d0b66",
              "name": "sentimiento",
              "value": "={{ $('Analiza el sentimiento del cliente').item.json.sentimentAnalysis.category }}",
              "type": "string"
            },
            {
              "id": "ddd12220-9fe8-4548-8584-44463fc62ef9",
              "name": "transcripcion",
              "value": "={{ $('Establece los valores a guardar').item.json.transcript }}",
              "type": "string"
            },
            {
              "id": "142ebc7c-cc33-42b7-b3ce-fbcd1c3dc94b",
              "name": "duracion_segundos",
              "value": "={{ $('busca estado despues de la llamada').item.json.duracion_segundos }}",
              "type": "number"
            },
            {
              "id": "dbbff1eb-610b-4877-9a58-9db865083983",
              "name": "id_nomenclatura",
              "value": "={{ $('busca estado despues de la llamada').item.json.id_nomenclatura }}",
              "type": "number"
            },
            {
              "id": "ebab5197-59d3-48e6-b24e-90c6e5535331",
              "name": "id_motivo",
              "value": "={{ $('busca estado despues de la llamada').item.json.id_motivo }}",
              "type": "number"
            },
            {
              "id": "4e377b7b-2360-4a8c-8f7c-fd93d2d427ab",
              "name": "intentos_llamada",
              "value": "={{ Number($('Establece los valores a guardar').item.json.intentos_llamada) + 1 }}",
              "type": "number"
            },
            {
              "id": "9bd8cac5-a686-42b0-9678-8fd26a687665",
              "name": "prioridad_actual",
              "value": "={{ $('busca estado despues de la llamada').item.json.prioridad_actual }}",
              "type": "number"
            },
            {
              "id": "09c65b8c-caf9-4b24-9c59-393d26d0cc1d",
              "name": "status_flujo",
              "value": "={{ $('busca estado despues de la llamada').item.json.status_flujo }}",
              "type": "string"
            },
            {
              "id": "7af6836f-5cd8-4b67-9ce4-94b83616eb2b",
              "name": "reintentar_iso",
              "value": "={{ $('busca estado despues de la llamada').item.json.reintentar_iso }}",
              "type": "string"
            },
            {
              "id": "ab2e73a5-98eb-4440-a103-10ce06f203ad",
              "name": "max_intentos",
              "value": "={{ $('busca estado despues de la llamada').item.json.max_intentos }}",
              "type": "number"
            },
            {
              "id": "b776ec4e-6d22-4f5e-9bf8-f616c40544ce",
              "name": "=last_try_ymd",
              "value": "={{ new Date().toISOString().slice(0,10) }}",
              "type": "string"
            },
            {
              "id": "b1333709-f483-4607-8aa1-07ac9be89682",
              "name": "win_tries",
              "value": "={{  Number($('busca estado despues de la llamada').item.json._win_tries) + 1 }}",
              "type": "number"
            },
            {
              "id": "f34def4e-828b-47a7-9b8f-c73958e981d2",
              "name": "numero",
              "value": "={{ $('Establece los valores a guardar').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "f6d6ffd6-3b82-40f7-8a52-ef60b8e92f8b",
              "name": "id_altiva",
              "value": "={{ $('Establece los valores a guardar').item.json.id_altiva }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4100,
        660
      ],
      "id": "c4809bd2-1312-48d8-95e5-b19c6db18ed9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JBab95H9VKPsLOtZ",
          "mode": "list",
          "cachedResultName": "Bearer_token"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4540,
        660
      ],
      "id": "eeee3fc6-ab9a-4fbe-9336-7baafc6e9a57",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JBab95H9VKPsLOtZ",
          "mode": "list",
          "cachedResultName": "Bearer_token"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4520,
        460
      ],
      "id": "10d21a2c-9147-4bf8-b468-e14a1ddf8d54",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2060,
        320
      ],
      "id": "4e5e2cea-9542-4382-8331-33376b0db67f",
      "name": "Espera cada 30s antes de empezar el sgte nodo",
      "webhookId": "c14bb326-04f1-4e39-803a-d8da07ee8443",
      "retryOnFail": false,
      "maxTries": 4,
      "waitBetweenTries": 4000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9104deb4-be5b-4b3b-a40f-56a9ef380e3f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ended",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        60
      ],
      "id": "fd34b809-0ae0-4ab1-a981-5c78213d15ea",
      "name": "SI LA LLAMADA SE CIERRA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45f75203-9eeb-4d15-ae1c-9a079606a572",
              "name": "id_cliente",
              "value": "={{ $json.assistantOverrides.variableValues.id_registro }}",
              "type": "string"
            },
            {
              "id": "03df923c-901d-423f-afa9-ca17a2d77cc6",
              "name": "nombre",
              "value": "={{ $json.assistantOverrides.variableValues.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "2cf13343-7ecd-4bd6-b632-5986b274aeaf",
              "name": "numero",
              "value": "={{ $json.assistantOverrides.variableValues.tel_principal }}",
              "type": "string"
            },
            {
              "id": "ca0bd595-b335-4d67-8d7b-4bf0da954a25",
              "name": "resumen_llamada",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "6365f93a-1a02-49dd-8b7b-5b1f94d68651",
              "name": "nuic",
              "value": "={{ $json.assistantOverrides.variableValues.nuic }}",
              "type": "string"
            },
            {
              "id": "b147fabd-e3a4-4b23-8166-efacf38b3dfc",
              "name": "email",
              "value": "={{ $json.assistantOverrides.variableValues.email }}",
              "type": "string"
            },
            {
              "id": "44600ada-69ee-4f1f-8e19-a093d9d20488",
              "name": "cedula",
              "value": "={{ $json.assistantOverrides.variableValues.cedula }}",
              "type": "string"
            },
            {
              "id": "04761f91-3610-43a5-b2d0-892eecbee9f4",
              "name": "ciudad",
              "value": "={{ $json.assistantOverrides.variableValues.ciudad }}",
              "type": "string"
            },
            {
              "id": "1fff53ac-d90c-4bf0-991c-24964d86461f",
              "name": "segmento",
              "value": "={{ $json.assistantOverrides.variableValues.segmento }}",
              "type": "string"
            },
            {
              "id": "a05cbf6c-6527-4111-a4fa-a432692e4c11",
              "name": "id_campaña",
              "value": "={{ $json.assistantOverrides.variableValues.id_campania }}",
              "type": "string"
            },
            {
              "id": "aa9ee932-a049-4cd7-b482-3a01c52e0b1f",
              "name": "startcall",
              "value": "={{ $json.startedAt }}",
              "type": "string"
            },
            {
              "id": "98414d75-7b77-4535-9e06-96a63ec331e4",
              "name": "endedcall",
              "value": "={{ $json.endedAt }}",
              "type": "string"
            },
            {
              "id": "801d1d0d-50c8-4094-8034-e50b210d5182",
              "name": "intentos_llamada",
              "value": "={{ $json.assistantOverrides.variableValues.intentos_llamada }}",
              "type": "number"
            },
            {
              "id": "eb8c26ef-e225-43e5-9b42-5d84833bae6f",
              "name": "id_altiva",
              "value": "={{ $json.assistantOverrides.variableValues.id_altiva }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        540
      ],
      "id": "9358971e-72e1-46a6-9bbf-936f19cf6fc1",
      "name": "Establece los valores a guardar"
    },
    {
      "parameters": {
        "inputText": "={{ $json.resumen_llamada ?? \"no hubo conversacion\" }}",
        "options": {
          "systemPromptTemplate": "=Eres un analista de sentimiento extremadamente riguroso para interacciones bancarias.\nTu tarea: leer un **resumen breve** de una llamada y clasificar el **sentimiento del CLIENTE** hacia el banco (no el tono de la agente) en una única categoría:\n- positivo   → muestra interés, aceptación, agrado o agradecimiento.\n- neutral    → conversación meramente informativa o continua el proceso sin emoción clara.\n- negativo   → expresa molestia, rechazo, desconfianza, cuelga sin escuchar, no es el titular y NO colabora, pide no volver a llamar, etc.\n\n🔍 **Reglas de negocio** (prioridad alta):\n1. Si el titular **no fue contactado** (p. ej. contesta la esposa / colega) y no se obtuvo avance, clasifica **negativo**.\n2. Si el cliente pide \"llame otro día\" o está apurado **pero no muestra desagrado**, clasifica **neutral**.  \n   - Sin embargo, si cuelga abruptamente o muestra molestia, clasifica **negativo**.\n3. Rechazo directo a beneficios, transferencia o llamadas futuras ⇒ **negativo**.\n4. Aceptación de transferencia o interés en beneficios ⇒ **positivo**.\n\nEjemplos de etiqueta correcta  \n// NEGATIVO\n\"La persona que contestó dijo que no es el titular y colgó.\"\n// NEUTRAL\n\"El cliente pidió que lo llamen luego porque estaba trabajando, sin mostrar molestia.\"\n// POSITIVO\n\"El cliente escuchó los beneficios y aceptó ser transferido a un ejecutivo.\"\n\n**Resumen de la llamada a analizar:**\n{{ $json.resumen_llamada ?? \"no hubo conversacion\" }}\n\n Si el resumen es \"no hubo conversacion\", clasifica automáticamente como **negativo**.\n\nDevuelve **solo** este JSON, sin comentarios ni texto adicional:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        2420,
        540
      ],
      "id": "12b06ea6-8b1f-4e87-900a-a3594aa2794f",
      "name": "Analiza el sentimiento del cliente",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "maxTokens": 30000,
          "temperature": 0.2,
          "timeout": 12000,
          "maxRetries": 7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2460,
        760
      ],
      "id": "6980f6a9-ba5e-491d-903c-451270dafc1e",
      "name": "Modelo Open IA",
      "credentials": {
        "openAiApi": {
          "id": "QzoOK3GYXjiOR7BY",
          "name": "Transferencias Vagon 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/*************************************************************\n * map_to_canonical — lee JSON {id_nomenclatura, id_motivo}\n * del agente etiquetador (Banco del Austro)\n *************************************************************/\n\n// ---------- 1) IDs válidos por nomenclatura (para validación) ----------\n// Sirve para detectar si el LLM devolvió una combinación inválida\nconst motivosValidos = {\n  1: [null],         // ACEPTACION — no tiene sub-motivo\n  2: [2, 1129, 2620, 2029, 1695, 5, 2520, 14],\n  3: [20, 2683],\n  4: [22, 1043, 23, 24, 25, 1005, 1130, 26, 27, 28, 29, 30],\n  5: [33, 34, 35, 31, 32, 38],\n  6: [39, 40],\n  7: [41, 42, 44],\n};\n\n// ---------- 2) Leer JSON del LLM ----------\nconst rawContent = (\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  \"\"\n).trim();\n\nlet etiqueta = {};\ntry {\n  etiqueta = JSON.parse(rawContent);\n} catch (e) {\n  // Si el LLM no devolvió JSON válido → fallback\n  etiqueta = { id_nomenclatura: 7, id_motivo: 42 };\n}\n\n// ---------- 3) Extraer y validar ----------\nconst idNomen  = etiqueta.id_nomenclatura ?? 7;\nconst idMotivo = etiqueta.id_motivo ?? null;  // null es válido para ACEPTACION\n\n// Caso especial: ACEPTACION (id 1) no tiene sub-motivo\nconst esAceptacion = idNomen === 1;\n\nconst combinacionValida = esAceptacion\n  ? true  // Para ACEPTACION, cualquier id_motivo null o ausente es válido\n  : (motivosValidos[idNomen]?.includes(idMotivo) ?? false);\n\n// Si no es válida, usamos fallback NO CONTESTA\nconst idNomenFinal  = combinacionValida ? idNomen  : 7;\nconst idMotivoFinal = combinacionValida ? idMotivo : 42;\n\n// ---------- 4) Duración ----------\nconst startISO = $node[\"Establece los valores a guardar\"].json.startcall;\nconst endISO   = $node[\"Establece los valores a guardar\"].json.endedcall;\n\nlet duracionSeg = null;\nif (startISO && endISO) {\n  duracionSeg = Math.round((Date.parse(endISO) - Date.parse(startISO)) / 1000);\n}\n\n// ---------- 5) Canonical outcome ----------\nconst canonicalMap = {\n  1: \"ACCEPTED\",\n  2: \"NOT_ACCEPTED\",\n  3: \"PENDING_ACCEPTANCE\",\n  4: \"FAILED_CONTACT_JUSTIFIED\",\n  5: \"FAILED_CONTACT_NOT_JUSTIFIED\",\n  6: \"NO_CONTACT_JUSTIFIED\",\n  7: \"NO_CONTACT_NOT_JUSTIFIED\",\n};\n\n// ---------- 6) Output ----------\nObject.assign($json, {\n  id_nomenclatura:   idNomenFinal,\n  id_motivo:         idMotivoFinal,\n  duracion_segundos: duracionSeg,\n  canonical_outcome: canonicalMap[idNomenFinal] ?? \"NO_CONTACT_NOT_JUSTIFIED\",\n  llm_valido:        combinacionValida,\n});\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        540
      ],
      "id": "bd980b29-c8bf-4150-b613-4947d50f029a",
      "name": "Mapea texto del LLM a  UN MOTIVO"
    },
    {
      "parameters": {
        "jsCode": "/********************************************************************************\n * CODE 1 (v7.1) – Estado post-llamada + reintentos + EXCEPCIONES LÓGICAS\n * ACTUALIZADO: Alineado con NOMENCLATURAS_MILLAS2\n * SIMPLIFICADO: Contadores manejados en SET, CODE1 solo decide flujo\n ********************************************************************************/\n\nfunction parseJSONLoose(v){ \n  if (!v) return {};\n  if (typeof v === 'object') return v;\n  let s = String(v).trim();\n  if (s.startsWith('=')) s = s.slice(1).trim();\n  try { return JSON.parse(s); } catch {}\n  try { return JSON.parse(JSON.parse(s)); } catch {}\n  return {};\n}\nconst num = (v, d=0) => Number.isFinite(+v) ? +v : d;\nconst conf = parseJSONLoose($json.system_payload);\nconst TZ   = conf.TZ || 'America/Guayaquil';\n\n/* ════════════════════════════════════════════════\n * NUEVO: LÓGICA DE OUTCOMES + AVANCE DE CURSOR\n * ════════════════════════════════════════════════ */\nconst RETRY_RULES = {\n  'customer-busy':           { delayMin: 15, maxPerPhone: 3, key: 'ocupado' },\n  'customer-did-not-answer': { delayMin: 15, maxPerPhone: 3, key: 'no-contesta' },\n  'voicemail':               { delayMin: 5,  maxPerPhone: 1, key: 'buzon-voz' },\n  'silence-timed-out':       { delayMin: 15, maxPerPhone: 3, key: 'no-contesta' },\n  'customer-ended-call':     { delayMin: 15, maxPerPhone: 3, key: 'no-contesta' },\n  'number-out-of-service':   { delayMin: 5,  maxPerPhone: 1, key: 'numero-invalido' },\n  'failed':                  { delayMin: 5,  maxPerPhone: 1, key: 'numero-invalido' },\n};\n\nconst endedReason = $json.endedReason || 'unknown';\nconst outcomeRule = RETRY_RULES[endedReason] || { delayMin: 240, maxPerPhone: 14, key: 'default' };\n\nlet systemPayload = conf;\nconst phonesMeta = (typeof systemPayload._phones_meta === 'object') ? systemPayload._phones_meta : {};\nconst phoneField = $json.telefono_field || 'ph_celular';\nconst phoneEntry = phonesMeta[phoneField] || { tries: 0, outcomes: {} };\n\nphoneEntry.tries = (phoneEntry.tries || 0) + 1;\nphoneEntry.outcomes[outcomeRule.key] = (phoneEntry.outcomes[outcomeRule.key] || 0) + 1;\n\nconst outcomeCount = phoneEntry.outcomes[outcomeRule.key];\nconst phoneExhausted = outcomeCount >= outcomeRule.maxPerPhone;\n\nconst windowPhones = ($json.phones_effective || '').split(',').map(s => s.trim()).filter(Boolean);\nconst currentIdx = Number($json.telefono_index || 1);\nlet newTelefonoIndex = currentIdx;\nif (phoneExhausted) {\n  newTelefonoIndex = currentIdx + 1;\n  while (newTelefonoIndex <= windowPhones.length) {\n    const nextField = windowPhones[newTelefonoIndex - 1];\n    const nextRaw = $json[nextField];\n    if (nextRaw && /\\d/.test(String(nextRaw))) break;\n    newTelefonoIndex++;\n  }\n}\n\nphonesMeta[phoneField] = phoneEntry;\nsystemPayload._phones_meta = phonesMeta;\nsystemPayload._intentos_hoy = (Number(systemPayload._intentos_hoy) || 0) + 1;\n\nconst lastTryYmd = $json.last_try_ymd || '';\nconst todayYmd = new Date().toISOString().slice(0,10);\nif (lastTryYmd !== todayYmd) {\n  systemPayload._intentos_hoy = 1;\n}\n\nconst delayMs = outcomeRule.delayMin * 60 * 1000;\nconst reintentarISO = new Date(Date.now() + delayMs).toISOString();\n\n$json.system_payload = systemPayload;\n$json._new_telefono_index = newTelefonoIndex;\n$json._phone_exhausted = phoneExhausted;\n\nif (phoneExhausted && newTelefonoIndex > windowPhones.length) {\n  $json.isOutOfNumbers = true;\n  $json.status_sugerido = 'agotado';\n}\n\n/* ───────────────── Motivos de descarte permanente ───────────────── */\n// Nomenclatura 1 : ACEPTACION\n// Nomenclatura 4: CONTACTO FALLIDO JUSTIFICADO (no reintentar)\n// Nomenclatura 6: NO CONTACTO JUSTIFICADO (línea inválida)\n// Nomenclatura 7: NO CONTACTO NO JUSTIFICADO\nconst PERMANENT_DISCARD_MOTIVOS = [\n// Nomenclatura 1\n  0,\n    // Nomenclatura 4\n  25, 26, 27, 30, 23, 1043, 1005, 28, 29, 22, 24, 1130,\n\n  // Nomenclatura 6\n  40, 39,\n\n  // Nomenclatura 7 — CAMBIO: solo FAX queda aquí\n  44,   // TONO DE FAX (sin reintentos, descarte)\n  // ← REMOVIDOS: 42 (NO CONTESTA) y 41 (BUZON DE VOZ)\n  //   porque ahora tienen maxTries > 0 según la tabla\n];\n\n/* ───────────────── Excepciones de nomenclatura ───────────────── */\n// Motivos que están en una nomenclatura pero deberían comportarse diferente\nconst NOMENCLATURE_EXCEPTIONS = {\n  // Nomenclatura 5 - CONTACTO FALLIDO NO JUSTIFICADO\n  // Estos requieren reintento pronto, no son rechazos\n  38: { \n    treatAs: 'pending',\n    reason: 'Cliente solicita recontacto'\n  },\n  32: { // TITULAR NO SE ENCUENTRA\n    treatAs: 'pending',\n    reason: 'No está disponible ahora'\n  },\n  33: { // LLAMAR A OTRO TELEFONO\n    treatAs: 'pending',\n    reason: 'Intentar otro número'\n  },\n  35: { // SE CORTO LA LLAMADA\n    treatAs: 'pending',\n    reason: 'Problema técnico, reintentar'\n  },\n  34: { // NO SE TRANSFIRIO LA LLAMADA AL TITULAR\n    treatAs: 'pending',\n    reason: 'No llegó al titular'\n  },\n  \n  // Nomenclatura 3 - PENDIENTE DE ACEPTACION\n  20: { // NECESITA PENSAR\n    treatAs: 'pending',\n    reason: 'Cliente evaluando, recontactar'\n  },\n  2683: { // PENDIENTE SOLO PREGUNTA DE TRANSFERENCIA\n    treatAs: 'pending',\n    reason: 'Interés parcial'\n  },\n};\n\n/* ───────────────── Prioridad de COLA ───────────────── */\nconst useQueuePriority = (conf.useQueuePriority ?? true) === true;\nconst prMin = num(conf.priorityMin, -5);\nconst prMax = num(conf.priorityMax,  0);\n\n/* ───────────────── Límite de intentos de vida ───────────────── */\nconst maxLifetimeTries = num(conf.maxLifetimeTries, 14);\n\n/* ───────────────── Toggles ───────────────── */\nconst hopOnVoicemail = (conf.hopOnVoicemail ?? true) === true;\nconst hopOnBusy      = (conf.hopOnBusy ?? true) === true;\nconst hopWaitMin     = Math.max(0, num(conf.hopWaitMin, 1));\n\n/* ───────────────── Outcomes (reglas) ───────────────── */\nlet outcomesRaw = conf.outcomes;\nif (typeof outcomesRaw === 'string') {\n  try { outcomesRaw = JSON.parse(outcomesRaw); } catch { outcomesRaw = []; }\n}\nconst outcomes = Array.isArray(outcomesRaw) ? outcomesRaw : [];\n\n/* helpers */\nconst norm = (s)=>String(s||'')\n  .normalize('NFD').replace(/\\p{Diacritic}/gu,'')\n  .toUpperCase().replace(/\\s+/g,' ').trim();\n\nfunction pickCategory(src){\n  if (!src || typeof src !== 'object') return '';\n  return (src.categoria_motivo ?? src.llm_category ?? src.message?.content ??\n          (Array.isArray(src.choices) ? src.choices[0]?.message?.content : '') ??\n          src.text ?? src.response ?? src.result ?? src.output ?? '');\n}\n\n/* ───────────────── 1) motivo → regla ───────────────── */\nconst idNom    = Number($json.id_nomenclatura ?? 0);\nconst idMotivo = $json.id_motivo != null ? Number($json.id_motivo) : null;\nconst catRaw = pickCategory($json);\nconst cat    = norm(catRaw);\n\nlet byExact=null, byAlias=null, byKey=null, byIdNom=null;\nfor (const o of outcomes){\n  if (!byExact && Number(o?.idNom) === idNom && o?.idMotivo != null && Number(o.idMotivo) === idMotivo) {\n    byExact = o;\n  }\n  if (!byKey   && norm(o?.key) === cat) byKey = o;\n  if (!byAlias) {\n    const als = Array.isArray(o?.aliases) ? o.aliases : [];\n    if (als.map(norm).includes(cat)) byAlias = o;\n  }\n  if (!byIdNom && Number(o?.idNom) === idNom) byIdNom = o;\n}\n\n/* defaults si no hay match */\nconst defaultsByNom = (n)=>{\n  if (n === 1) return { key: 'ACEPTACION', wait: 0,   maxTries: 0, deltaPrio:  0 };\n  if (n === 2) return { key: 'NO_ACEPTACION', wait: 0, maxTries: 0, deltaPrio:  0 };\n  if (n === 3) return { key: 'PENDIENTE', wait: 120, maxTries: 2, deltaPrio:  0 };\n  if (n === 4) return { key: 'CFJ', wait: 0,   maxTries: 0, deltaPrio: -1 };\n  if (n === 5) return { key: 'CFNJ', wait: 30, maxTries: 2, deltaPrio: -1 };\n  if (n === 6) return { key: 'NCJ', wait: 0,   maxTries: 0, deltaPrio: -1 };\n  if (n === 7) return { key: 'NCNJ', wait: 60, maxTries: 0, deltaPrio: -4 };\n  return { key: '', wait: 15, maxTries: 1, deltaPrio: 0 };\n};\n\nconst picked = byExact || byKey || byAlias || byIdNom || defaultsByNom(idNom);\n\nconst rule = {\n  wait:      Math.max(0, num(picked.wait, 0)),\n  maxTries:  Math.max(0, num(picked.maxTries, 0)),\n  deltaPrio: num(picked.deltaPrio, 0),\n};\nconst _rule_source = byExact ? 'exact' : (byAlias ? 'alias' : (byKey ? 'key' : (byIdNom ? 'idNom' : 'fallback')));\n\n/* ───────────────── 2) tiempo + ventana activa ───────────────── */\nconst nowTZ = new Date(new Date().toLocaleString('en-US', { timeZone: TZ }));\nfunction addMinutesTZ(d,m){ const t=new Date(d); t.setMinutes(t.getMinutes()+m); return t; }\nfunction ymdTZ(d,tz){\n  const dt = new Date(new Date(d || Date.now()).toLocaleString('en-US',{ timeZone: tz }));\n  return dt.toISOString().slice(0,10);\n}\n$json.last_try_ymd = ymdTZ(nowTZ, TZ);\n\nfunction activeWindow(conf){\n  const windows = Array.isArray(conf.windows) ? conf.windows : [];\n  const hhmm = nowTZ.toTimeString().slice(0,5);\n  const dow  = nowTZ.getDay();\n  return windows.find(w =>\n    String(w.days).split(',').map(Number).includes(dow) &&\n    hhmm >= String(w.start) && hhmm <= String(w.end)\n  ) || null;\n}\nfunction nextWindowTodayISO(conf){\n  const windows = Array.isArray(conf.windows) ? conf.windows : [];\n  const hhmmNow = nowTZ.toTimeString().slice(0,5);\n  const dow     = nowTZ.getDay();\n  const cands   = windows\n    .filter(w => String(w.days).split(',').map(Number).includes(dow) && String(w.start) > hhmmNow)\n    .sort((a,b)=>String(a.start).localeCompare(String(b.start)));\n  if (!cands.length) return null;\n  const [hh,mm] = String(cands[0].start).split(':').map(Number);\n  const local   = new Date(new Date(nowTZ).toLocaleString('en-US',{ timeZone: TZ }));\n  local.setHours(0,0,0,0); local.setHours(hh,mm,0,0);\n  return local.toISOString();\n}\nfunction nextDayFirstWindowISO(from){\n  const windows = Array.isArray(conf.windows) ? conf.windows : [];\n  const base = new Date(from);\n  for (let plus=1; plus<=7; plus++){\n    const probe = new Date(base); probe.setDate(probe.getDate()+plus);\n    const dow   = probe.getDay();\n    const cands = windows.filter(w => String(w.days).split(',').map(Number).includes(dow));\n    if (cands.length){\n      cands.sort((a,b)=>String(a.start).localeCompare(String(b.start)));\n      const [hh,mm] = String(cands[0].start || '09:00').split(':').map(Number);\n      const local   = new Date(new Date(probe).toLocaleString('en-US',{ timeZone: TZ }));\n      local.setHours(0,0,0,0); local.setHours(hh,mm,0,0);\n      return local.toISOString();\n    }\n  }\n  return addMinutesTZ(base, 24*60).toISOString();\n}\n\nconst win   = activeWindow(conf);\nconst maxVent = num(win?.max, 1);\nconst winTriesNow = num($json._win_tries, 0);\nconst windowHasCapacity = winTriesNow < maxVent;\n\n/* ───────────────── 3) ÁRBOL DE DECISIÓN ───────────────── */\nlet status_flujo   = 'pendiente';\nlet reintentar_iso = null;\nlet _hop_requested = false;\nlet _decision_path = '';\n\nconst intentosActuales = num($json.intentos_llamada, 0);\nconst hasException = NOMENCLATURE_EXCEPTIONS[idMotivo] != null;\nconst isPermanentDiscard = PERMANENT_DISCARD_MOTIVOS.includes(idMotivo);\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 1: ¿Se alcanzó el límite de intentos totales?\n// ═══════════════════════════════════════════════════════════════\nif (intentosActuales >= maxLifetimeTries) {\n  status_flujo = 'agotado';\n  reintentar_iso = null;\n  _decision_path = 'lifetime_limit_reached';\n}\n// ═══════════════════════════════════════════════════════════════\n// PASO 2: ¿Es nomenclatura 1 (ACEPTACION)?\n// ═══════════════════════════════════════════════════════════════\nelse if (idNom === 1) {\n  status_flujo = 'finalizado_ok';\n  reintentar_iso = null;\n  _decision_path = 'accepted';\n}\n// ═══════════════════════════════════════════════════════════════\n// PASO 3: ¿Es nomenclatura 2 (NO ACEPTACION)?\n// ═══════════════════════════════════════════════════════════════\nelse if (idNom === 2) {\n  status_flujo = 'rechazado';\n  reintentar_iso = null;\n  _decision_path = 'rejected';\n}\n// ═══════════════════════════════════════════════════════════════\n// PASO 4: ¿Es descarte permanente (contacto fallido justificado)?\n// ═══════════════════════════════════════════════════════════════\nelse if (isPermanentDiscard) {\n  status_flujo = 'agotado';\n  reintentar_iso = null;\n  _decision_path = 'permanent_discard';\n}\n// ═══════════════════════════════════════════════════════════════\n// PASO 5: ¿Es excepción que requiere recontacto?\n// ═══════════════════════════════════════════════════════════════\nelse if (hasException && NOMENCLATURE_EXCEPTIONS[idMotivo].treatAs === 'pending') {\n  const nextToday = nextWindowTodayISO(conf);\n  if (nextToday && windowHasCapacity) {\n    status_flujo = 'reintentar';\n    reintentar_iso = addMinutesTZ(nowTZ, rule.wait || 60).toISOString();\n    _decision_path = 'exception_retry_wait';\n  } else if (nextToday) {\n    status_flujo = 'reintentar';\n    reintentar_iso = nextToday;\n    _decision_path = 'exception_next_window';\n  } else {\n    status_flujo = 'agotado_hoy';\n    reintentar_iso = nextDayFirstWindowISO(nowTZ);\n    _decision_path = 'exception_tomorrow';\n  }\n}\n// ═══════════════════════════════════════════════════════════════\n// PASO 6: Nomenclaturas 3, 4, 5, 6, 7 → Evaluar reglas normales\n// ═══════════════════════════════════════════════════════════════\nelse {\n  if (rule.maxTries === 0) {\n    const nextToday = nextWindowTodayISO(conf);\n    if (nextToday) {\n      status_flujo = 'reintentar';\n      reintentar_iso = nextToday;\n      _decision_path = 'no_retries_next_window_today';\n    } else {\n      status_flujo = 'agotado_hoy';\n      reintentar_iso = nextDayFirstWindowISO(nowTZ);\n      _decision_path = 'no_retries_tomorrow';\n    }\n  } else {\n    if (windowHasCapacity) {\n      // Hop rápido para buzón de voz u ocupado\n      if ((idNom === 7 && hopOnVoicemail) || ([5, 7].includes(idNom) && hopOnBusy && idMotivo === -1)) {\n        _hop_requested = true;\n        status_flujo = 'pendiente';\n        reintentar_iso = addMinutesTZ(nowTZ, hopWaitMin).toISOString();\n        _decision_path = 'hop_short';\n      } else {\n        status_flujo = 'reintentar';\n        reintentar_iso = addMinutesTZ(nowTZ, rule.wait).toISOString();\n        _decision_path = 'retry_in_window';\n      }\n    } else {\n      const nextToday = nextWindowTodayISO(conf);\n      if (nextToday) {\n        status_flujo = 'reintentar';\n        reintentar_iso = nextToday;\n        _decision_path = 'next_window_today';\n      } else {\n        status_flujo = 'agotado_hoy';\n        reintentar_iso = nextDayFirstWindowISO(nowTZ);\n        _decision_path = 'exhausted_today_retry_tomorrow';\n      }\n    }\n  }\n}\n\n/* ───────────────── 4) prioridad de COLA ───────────────── */\nlet rowDB = {};\ntry {\n  const arr = $items(\"Execute a SQL query\", 0) || [];\n  rowDB = (arr.length && arr[0].json) ? arr[0].json : {};\n} catch (e) {\n  rowDB = {};\n}\n\nconst prActual = Number.isFinite(+$json.prioridad_actual)\n  ? +$json.prioridad_actual\n  : (Number.isFinite(+rowDB.prioridad_actual) ? +rowDB.prioridad_actual : 0);\n\nlet prNueva = prActual;\nif (useQueuePriority){\n  const delta = num(rule.deltaPrio, 0);\n  prNueva = Math.max(prMin, Math.min(prMax, prActual + delta));\n  $json.prioridad_actual = prNueva;\n}\n\n/* ───────────────── 5) salida ───────────────── */\nObject.assign($json, {\n  _win_tries: winTriesNow,\n  status_flujo,\n  reintentar_iso,\n  max_intentos: rule.maxTries,\n  _rule_source,\n  _hop_requested,\n  _decision_path,\n  _rule_debug: {\n    picked_key: picked.key ?? null,\n    picked_idNom: picked.idNom ?? null,\n    picked_idMotivo: picked.idMotivo ?? null,\n    deltaPrio: rule.deltaPrio ?? 0,\n    pr_before: prActual,\n    pr_after:  prNueva,\n    window: { id: win?.id ?? null, max: maxVent, _win_tries: winTriesNow, hasCapacity: windowHasCapacity },\n    lifetime_tries: `${intentosActuales}/${maxLifetimeTries}`,\n    is_permanent_discard: isPermanentDiscard,\n    has_exception: hasException,\n    exception_reason: NOMENCLATURE_EXCEPTIONS[idMotivo]?.reason ?? null,\n  }\n});\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        580
      ],
      "id": "a3fb668c-a40b-4099-955b-c18670b14ef0",
      "name": "busca estado despues de la llamada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4fa58e38-641b-419b-920b-705f1ad3f152",
              "leftValue": "={{ $json.status_flujo }}",
              "rightValue": "pendiente",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d13e9ee1-436f-4bd8-aa90-893a32aaeaa2",
              "leftValue": "={{ $json.status_flujo }}",
              "rightValue": "reintentar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3820,
        580
      ],
      "id": "733c1f52-4cc0-4521-aeaa-38b44dbdd80e",
      "name": "SI EL ESTADO ES PENDIENTE O REINTENTAR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "684f92a2-167c-4dc1-a5ff-add811b470b8",
              "name": "id_registro",
              "value": "={{ $('Establece los valores a guardar').item.json.id_cliente }}",
              "type": "string"
            },
            {
              "id": "627cf129-1dfa-4994-aed4-fa72da8e7b73",
              "name": "id_campania",
              "value": "={{ $('Establece los valores a guardar').item.json[\"id_campaña\"] }}",
              "type": "string"
            },
            {
              "id": "2ca1f5f5-6a54-49bb-96e8-5654a499cc89",
              "name": "resumen",
              "value": "={{ $('Establece los valores a guardar').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "be419b18-28bd-4e82-97c0-a1ce251d0b66",
              "name": "sentimiento",
              "value": "={{ $('Analiza el sentimiento del cliente').item.json.sentimentAnalysis.category }}",
              "type": "string"
            },
            {
              "id": "ddd12220-9fe8-4548-8584-44463fc62ef9",
              "name": "transcripcion",
              "value": "={{ $('Establece los valores a guardar').item.json.transcript }}",
              "type": "string"
            },
            {
              "id": "142ebc7c-cc33-42b7-b3ce-fbcd1c3dc94b",
              "name": "duracion_segundos",
              "value": "={{ $('busca estado despues de la llamada').item.json.duracion_segundos  ?? 0}} ",
              "type": "number"
            },
            {
              "id": "dbbff1eb-610b-4877-9a58-9db865083983",
              "name": "id_nomenclatura",
              "value": "={{ $('busca estado despues de la llamada').item.json.id_nomenclatura }}",
              "type": "number"
            },
            {
              "id": "ebab5197-59d3-48e6-b24e-90c6e5535331",
              "name": "id_motivo",
              "value": "={{ $('busca estado despues de la llamada').item.json.id_motivo }}",
              "type": "number"
            },
            {
              "id": "4e377b7b-2360-4a8c-8f7c-fd93d2d427ab",
              "name": "intentos_llamada",
              "value": "={{ Number($('Establece los valores a guardar').item.json.artifact.variables.intentos_llamada) + 1 }}",
              "type": "number"
            },
            {
              "id": "9bd8cac5-a686-42b0-9678-8fd26a687665",
              "name": "prioridad_actual",
              "value": "={{ $('busca estado despues de la llamada').item.json.prioridad_actual }}",
              "type": "number"
            },
            {
              "id": "09c65b8c-caf9-4b24-9c59-393d26d0cc1d",
              "name": "status_flujo",
              "value": "={{ $('busca estado despues de la llamada').item.json.status_flujo }}",
              "type": "string"
            },
            {
              "id": "7af6836f-5cd8-4b67-9ce4-94b83616eb2b",
              "name": "reintentar_iso",
              "value": "={{ $('busca estado despues de la llamada').item.json.reintentar_iso }}",
              "type": "string"
            },
            {
              "id": "ab2e73a5-98eb-4440-a103-10ce06f203ad",
              "name": "max_intentos",
              "value": "={{ $('busca estado despues de la llamada').item.json.max_intentos }}",
              "type": "number"
            },
            {
              "id": "b776ec4e-6d22-4f5e-9bf8-f616c40544ce",
              "name": "last_try_ymd",
              "value": "={{ new Date().toISOString().slice(0,10) }}",
              "type": "string"
            },
            {
              "id": "b1333709-f483-4607-8aa1-07ac9be89682",
              "name": "win_tries",
              "value": "={{  Number($('busca estado despues de la llamada').item.json._win_tries) + 1 }}",
              "type": "number"
            },
            {
              "id": "32545d2a-393f-4c7a-b1d7-e4093f135c3f",
              "name": "numero",
              "value": "={{ $('Establece los valores a guardar').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "d3a21a2a-dd5a-4008-bb08-976f4061e652",
              "name": "id_altiva",
              "value": "={{ $('Establece los valores a guardar').item.json.id_altiva }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4100,
        460
      ],
      "id": "e9486fa8-ae16-47da-90f5-d5cb4dcb1f8e",
      "name": "mapea los campos del cliente"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prioridad_actual": "={{ $json.prioridad_actual }}",
            "telefono_index": "={{ $json._new_telefono_index ?? $json.telefono_index ?? 1 }}",
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "status_flujo": "={{ $json.status_flujo }}",
            "reintentar_iso": "={{ $json.reintentar_iso }}",
            "intentos_llamada": "={{ $json.intentos_llamada ?? 0 }}",
            "last_try_ymd": "={{ $json.last_try_ymd }}",
            "win_tries": "={{ $json.win_tries }}",
            "nomenclatura_ultima": "={{ $json.id_nomenclatura }}",
            "motivo_ultimo": "={{ $json.id_motivo }}",
            "resumen_llamada": "={{ $json.resumen }}",
            "sentimiento": "={{ $json.sentimiento }}",
            "transcripcion": "={{ $json.transcripcion }}",
            "duracion_segundos": "={{ $json.duracion_segundos }}",
            "telefono_field": "={{ $('PROCESA LOS NUMEROS Y FORMATEA').item.json.telefono_field }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}",
            "last_outcome_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_actual",
              "displayName": "prioridad_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4320,
        460
      ],
      "id": "fbf4e18d-b909-4bf0-8f91-724a1b858b48",
      "name": "GUARDAR REPORTE1",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prioridad_actual": "={{ $json.prioridad_actual }}",
            "intentos_llamada": "={{ $json.intentos_llamada }}",
            "win_tries": "={{ $json.win_tries }}",
            "nomenclatura_ultima": "={{ $json.id_nomenclatura }}",
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "status_flujo": "={{ $json.status_flujo }}",
            "reintentar_iso": "={{ $json.reintentar_iso }}",
            "last_try_ymd": "={{ $json.last_try_ymd }}",
            "motivo_ultimo": "={{ $json.id_motivo }}",
            "resumen_llamada": "={{ $json.resumen }}",
            "sentimiento": "={{ $json.sentimiento }}",
            "transcripcion": "={{ $json.transcripcion }}",
            "duracion_segundos": "={{ $json.duracion_segundos }}",
            "telefono_index": "={{ $json._new_telefono_index ?? $json.telefono_index ?? 1 }}",
            "telefono_field": "={{ $('PROCESA LOS NUMEROS Y FORMATEA').item.json.telefono_field }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}",
            "last_outcome_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_actual",
              "displayName": "prioridad_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4320,
        660
      ],
      "id": "01edd33c-7189-4c24-8d8f-09354fddae42",
      "name": "GUARDAR REPORTE2",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa259777-343c-4328-bc58-debce12de222",
              "name": "id_cuenta",
              "value": "={{ $('GUARDAR REPORTE1').item.json.id_campania }}",
              "type": "number"
            },
            {
              "id": "bbac8690-4339-45a2-9885-8e434de514f4",
              "name": "id_registro",
              "value": "={{ $('mapea los campos del cliente').item.json.id_altiva }}",
              "type": "string"
            },
            {
              "id": "625354fd-d0e5-4aeb-8986-5a5e0e7b3f8f",
              "name": "resumen_ejecutivo",
              "value": "={{ $('mapea los campos del cliente').item.json.resumen }}",
              "type": "string"
            },
            {
              "id": "e56f675e-bcf2-4ebc-82fc-44de26227605",
              "name": "sentimiento",
              "value": "={{ $('mapea los campos del cliente').item.json.sentimiento }}",
              "type": "string"
            },
            {
              "id": "134bb6f8-6197-4e74-9b71-1a043f332cb7",
              "name": "transcripcion",
              "value": "={{ $('mapea los campos del cliente').item.json.transcript.slice(0, 799) ?? 'no hubo interaccion con el cliente' }}",
              "type": "string"
            },
            {
              "id": "3ae233b8-c685-4405-a7ac-bb7bbea520dd",
              "name": "duracion_segundos",
              "value": "={{ $('mapea los campos del cliente').item.json.duracion_segundos }}",
              "type": "number"
            },
            {
              "id": "b864041c-c516-4331-9449-503488e052c1",
              "name": "telefono_contacto",
              "value": "={{'0' + $('mapea los campos del cliente').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "605f19a0-4444-4305-af9b-7b87f368a309",
              "name": "id_nomenclatura",
              "value": "={{ $('mapea los campos del cliente').item.json.id_nomenclatura }}",
              "type": "string"
            },
            {
              "id": "a46bc788-2bba-4eb1-8a5c-73e144a2c5c1",
              "name": "id_motivo",
              "value": "={{ $('mapea los campos del cliente').item.json.id_motivo }}",
              "type": "string"
            },
            {
              "id": "0432febb-b10d-4b38-9449-d61c14673853",
              "name": "url_grabacion",
              "value": "={{ $('Consulta EL STATUS de la llamada').item.json.stereoRecordingUrl }}",
              "type": "string"
            },
            {
              "id": "e87e5cbb-256b-488f-af68-280ae74b4578",
              "name": "observacion",
              "value": "={{ $('mapea los campos del cliente').item.json.resumen }}",
              "type": "string"
            },
            {
              "id": "672103c4-e224-4de7-9ad7-a29c29e52194",
              "name": "fecha_hora",
              "value": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4780,
        460
      ],
      "id": "f24ffa5d-d2d5-446c-a150-f07820ae53ec",
      "name": "Volvemos a mapear"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-hub.geainternacional.com/ec/v1/campania/ia-call-summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Execute Workflow1').item.json.response }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_cuenta",
              "value": "={{ $json.id_cuenta }}"
            },
            {
              "name": "id_registro",
              "value": "={{ $json.id_registro }}"
            },
            {
              "name": "resumen_ejecutivo",
              "value": "={{ $json.resumen_ejecutivo }}"
            },
            {
              "name": "sentimiento",
              "value": "={{ $json.sentimiento }}"
            },
            {
              "name": "transcripcion",
              "value": "={{ $json.transcripcion }}"
            },
            {
              "name": "duracion_segundos",
              "value": "={{ $json.duracion_segundos }}"
            },
            {
              "name": "telefono_contacto",
              "value": "={{(($json.telefono_contacto || '')\n    .toString()\n    .replace(/[^0-9+]/g, '')\n    .replace(/^00/, '+')        \n    .replace(/^\\+593/, '0')\n    .trim()) || null }}"
            },
            {
              "name": "id_nomenclatura",
              "value": "={{ $json.id_nomenclatura }}"
            },
            {
              "name": "id_motivo",
              "value": "={{ $json.id_motivo }}"
            },
            {
              "name": "url_grabacion",
              "value": "={{ $json.url_grabacion }}"
            },
            {
              "name": "observacion",
              "value": "={{ $json.observacion }}"
            },
            {
              "name": "fecha_hora",
              "value": "={{ $json.fecha_hora }}"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5020,
        460
      ],
      "id": "68c494d2-513f-4f3e-8572-91561ec2f220",
      "name": "GUARDAMOS EN ALTIVA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-hub.geainternacional.com/ec/v1/campania/ia-call-summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Execute Workflow').item.json.response }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_cuenta",
              "value": "={{ $json.id_cuenta }}"
            },
            {
              "name": "id_registro",
              "value": "={{ $json.id_registro }}"
            },
            {
              "name": "resumen_ejecutivo",
              "value": "={{ $json.resumen_ejecutivo }}"
            },
            {
              "name": "sentimiento",
              "value": "={{ $json.sentimiento }}"
            },
            {
              "name": "transcripcion",
              "value": "={{ $json.transcripcion }}"
            },
            {
              "name": "duracion_segundos",
              "value": "={{ $json.duracion_segundos }}"
            },
            {
              "name": "telefono_contacto",
              "value": "={{(($json.telefono_contacto || '')\n    .toString()\n    .replace(/[^0-9+]/g, '')\n    .replace(/^00/, '+')        \n    .replace(/^\\+593/, '0')\n    .trim()) || null }}"
            },
            {
              "name": "id_nomenclatura",
              "value": "={{ $json.id_nomenclatura }}"
            },
            {
              "name": "id_motivo",
              "value": "={{ $json.id_motivo }}"
            },
            {
              "name": "observacion",
              "value": "={{ $json.observacion }}"
            },
            {
              "name": "fecha_hora",
              "value": "={{ $json.fecha_hora }}"
            },
            {
              "name": "url_grabacion",
              "value": "={{ $json.url_grabacion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5000,
        660
      ],
      "id": "a407078e-d266-4573-83f1-d95bacadcace",
      "name": "GUARDAMOS EN ALTIVA1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa259777-343c-4328-bc58-debce12de222",
              "name": "id_cuenta",
              "value": "={{ $('Edit Fields1').item.json.id_campania }}",
              "type": "number"
            },
            {
              "id": "bbac8690-4339-45a2-9885-8e434de514f4",
              "name": "id_registro",
              "value": "={{ $('Edit Fields1').item.json.id_altiva }}",
              "type": "string"
            },
            {
              "id": "625354fd-d0e5-4aeb-8986-5a5e0e7b3f8f",
              "name": "resumen_ejecutivo",
              "value": "={{ $('Edit Fields1').item.json.resumen }}",
              "type": "string"
            },
            {
              "id": "e56f675e-bcf2-4ebc-82fc-44de26227605",
              "name": "sentimiento",
              "value": "={{ $('Edit Fields1').item.json.sentimiento }}",
              "type": "string"
            },
            {
              "id": "134bb6f8-6197-4e74-9b71-1a043f332cb7",
              "name": "transcripcion",
              "value": "={{ $('Edit Fields1').item.json.transcript.slice(0, 799) }}",
              "type": "string"
            },
            {
              "id": "3ae233b8-c685-4405-a7ac-bb7bbea520dd",
              "name": "duracion_segundos",
              "value": "={{ $('Edit Fields1').item.json.duracion_segundos }}",
              "type": "number"
            },
            {
              "id": "b864041c-c516-4331-9449-503488e052c1",
              "name": "telefono_contacto",
              "value": "={{ '0' + $('Edit Fields1').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "605f19a0-4444-4305-af9b-7b87f368a309",
              "name": "id_nomenclatura",
              "value": "={{ $('Edit Fields1').item.json.id_nomenclatura }}",
              "type": "string"
            },
            {
              "id": "a46bc788-2bba-4eb1-8a5c-73e144a2c5c1",
              "name": "id_motivo",
              "value": "={{ $('Edit Fields1').item.json.id_motivo }}",
              "type": "string"
            },
            {
              "id": "0432febb-b10d-4b38-9449-d61c14673853",
              "name": "url_grabacion",
              "value": "={{ $('Consulta EL STATUS de la llamada').item.json.stereoRecordingUrl }}",
              "type": "string"
            },
            {
              "id": "e87e5cbb-256b-488f-af68-280ae74b4578",
              "name": "observacion",
              "value": "={{ $('Edit Fields1').item.json.resumen }}",
              "type": "string"
            },
            {
              "id": "672103c4-e224-4de7-9ad7-a29c29e52194",
              "name": "fecha_hora",
              "value": "={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4760,
        660
      ],
      "id": "0e6c6700-1ac8-42bb-8644-658e02344796",
      "name": "Volvemos a mapear1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Establece los valores a guardar').item.json.summary }}"
            },
            {
              "content": "=Eres un clasificador de motivos de llamada para Banco del Austro.\nREGLA CRÍTICA: Si el agente AI dice \"quédese en línea\" o \"no cuelgue\" → la categoría es ACEPTACION (id_nomenclatura: 1, sin id_motivo).\nTAREA: Lee la transcripción y selecciona el motivo que mejor la describa.\nTABLA DE MOTIVOS (IDs | NOMENCLATURA | ids2 | MOTIVO):\n1 | ACEPTACION | 0 | null\n2 | NO ACEPTACION | 2 | CLIENTE CIERRA MOLESTO\n2 | NO ACEPTACION | 1129 | CLIENTE GROSERO DURANTE LA LLAMADA\n2 | NO ACEPTACION | 2620 | CLIENTE NO DA APERTURA\n2 | NO ACEPTACION | 2029 | CLIENTE NO DA APERTURA AL INICIO DE LA LLAMADA\n2 | NO ACEPTACION | 1695 | CUENTA CANCELADA\n2 | NO ACEPTACION | 5 | NO CONFIA EN ESTE TIPO DE LLAMADAS\n2 | NO ACEPTACION | 2520 | NO DESEA SER TRANSFERIDO\n2 | NO ACEPTACION | 14 | TITULAR CERRARA LA CUENTA\n3 | PENDIENTE DE ACEPTACION | 20 | NECESITA PENSAR\n3 | PENDIENTE DE ACEPTACION | 2683 | PENDIENTE SOLO PREGUNTA DE TRANSFERENCIA\n4 | CONTACTO FALLIDO JUSTIFICADO | 22 | CAMBIO DE LUGAR DE TRABAJO\n4 | CONTACTO FALLIDO JUSTIFICADO | 1043 | CLIENTE SOLICITA NO SER LLAMADO\n4 | CONTACTO FALLIDO JUSTIFICADO | 23 | CUENTA BANCARIA CERRADA\n4 | CONTACTO FALLIDO JUSTIFICADO | 24 | CUENTA CORPORATIVA O COMPARTIDA\n4 | CONTACTO FALLIDO JUSTIFICADO | 25 | EQUIVOCADO\n4 | CONTACTO FALLIDO JUSTIFICADO | 1005 | IMPOSIBLE CONTACTARSE CON EL CLIENTE\n4 | CONTACTO FALLIDO JUSTIFICADO | 1130 | IVR DE EMPRESA\n4 | CONTACTO FALLIDO JUSTIFICADO | 26 | NO RESIDE EN EL PAIS\n4 | CONTACTO FALLIDO JUSTIFICADO | 27 | NO VIVE AHI\n4 | CONTACTO FALLIDO JUSTIFICADO | 28 | TITULAR CON DISCAPACIDAD\n4 | CONTACTO FALLIDO JUSTIFICADO | 29 | TITULAR FALLECIDO\n4 | CONTACTO FALLIDO JUSTIFICADO | 30 | TITULAR NO HABLA ESPANOL\n5 | CONTACTO FALLIDO NO JUSTIFICADO | 33 | LLAMAR A OTRO TELEFONO\n5 | CONTACTO FALLIDO NO JUSTIFICADO | 34 | NO SE TRANSFIRIO LLAMADA AL TITULAR\n5 | CONTACTO FALLIDO NO JUSTIFICADO | 35 | SE CORTO LA LLAMADA\n5 | CONTACTO FALLIDO NO JUSTIFICADO | 31 | TITULAR ESTA FUERA DEL PAIS\n5 | CONTACTO FALLIDO NO JUSTIFICADO | 32 | TITULAR NO SE ENCUENTRA\n5 | CONTACTO FALLIDO NO JUSTIFICADO | 38 | VOLVER A LLAMAR\n6 | NO CONTACTO JUSTIFICADO | 39 | LINEA TELEFONICA FUERA DE SERVICIO O SUSPENDIDO\n6 | NO CONTACTO JUSTIFICADO | 40 | LINEA TELEFONICA NO EXISTE\n7 | NO CONTACTO NO JUSTIFICADO | 41 | BUZON DE VOZ\n7 | NO CONTACTO NO JUSTIFICADO | 42 | NO CONTESTA\n7 | NO CONTACTO NO JUSTIFICADO | 44 | TONO DE FAX\nREGLAS DE RESPUESTA:\n\nDevuelve ÚNICAMENTE este JSON, sin texto adicional:\n{\"id_nomenclatura\": <número>, \"id_motivo\": <número>}\nPara ACEPTACION (id_nomenclatura: 1), omite id_motivo o usa null:\n{\"id_nomenclatura\": 1, \"id_motivo\": null}\nSi ningún motivo encaja, devuelve:\n{\"id_nomenclatura\": 7, \"id_motivo\": 42}\n\nCasos comunes para que te sirva de guia:\nSi user menciona buzón , tono , al oir el tono , deje mensaje \ntu unica salida debe ser\n{\"id_nomenclatura\": 7, \"id_motivo\": 41}\nsi user menciona \"bienvenido a movistar\" , \"bienvenido a tuenti\" , \"bienvenido a claro\"\ntu unica salida debe ser\n{\"id_nomenclatura\": 7, \"id_motivo\": 41}\nsi user menciona por ejemplo: 3.. 1 .. 3 .. 5 o numeros consecutivos entonces es buzon de voz\nen este caso , tu unica salida debe ser\n{\"id_nomenclatura\": 7, \"id_motivo\": 41}\nsi user responde con ej: 5 3 9 0 4 8 6 o similares tu unica salida sera\n{\"id_nomenclatura\": 7, \"id_motivo\": 41}\nsi user dice por ej: 0 Después del tono, grabe su mensaje.\n{\"id_nomenclatura\": 7, \"id_motivo\": 41}\nsi user dice: Puede Después del tono, grabe su mensaje.\ndebes tipificar como : {\"id_nomenclatura\": 7, \"id_motivo\": 41}\ncasos comunes cuando cliente no da apertura\nSi en el resumen ves que el cliente colgó o cerró la llamada  entonces tu salida será:\n{\"id_nomenclatura\": 5, \"id_motivo\": 35}\nsi user  indicó que estaba ocupada y pidió esperar entonces tipifica:\n{\"id_nomenclatura\": 2, \"id_motivo\": 2620}\nSi en el resumen ves que el cliente no tuvo una conversacion y la llamada terminó por silencio (silence-timed-out)  entonces tu salida será:\n{\"id_nomenclatura\": 5, \"id_motivo\": 3839}\n\nsi el resumen dice no hubo interaccion con el cliente entonces tu salida será:\n{\"id_nomenclatura\": 7, \"id_motivo\": 42}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2820,
        560
      ],
      "id": "a5731db3-0d59-4e28-b28d-1d207d2e4f55",
      "name": "Agente clasificador de motivos",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "QzoOK3GYXjiOR7BY",
          "name": "Transferencias Vagon 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/*******************************************************\n * CODE 2 — Policy guard (no destructivo) v2.8\n * - Respeta $json.system_payload; si falta, usa defaults.\n * - ACTUALIZADO con nuevas nomenclaturas NOMENCLATURAS_MILLAS2\n * - Phone rules ATT mantenidas según configuración Altiva\n *******************************************************/\nfunction parseJSONLoose(v){ \n  if (!v) return null;\n  if (typeof v === 'object') return v;\n  let s = String(v).trim();\n  if (s.startsWith('=')) s = s.slice(1).trim();\n  try { return JSON.parse(s); } catch {}\n  try { return JSON.parse(JSON.parse(s)); } catch {}\n  return null;\n}\nconst num = (v, def=0) => Number.isFinite(+v) ? +v : def;\n\nconst DEFAULT_POLICY = {\n  policyVersion: '2.8',\n  TZ: 'America/Guayaquil',\n  CC: '+593',\n\n  // Límites generales (hoja)\n  dayMax: 7,\n  dayWait: 240,\n  offHoursWait: 60,\n\n  // Tope de intentos de vida del lead\n  maxLifetimeTries: 14,\n\n  // Toggles\n  retryNoAnswerSameDay: true,\n  hopOnVoicemail: true,        \n  hopOnBusy: true,              \n  hopWaitMin: 1,\n\n  // Rango de prioridad\n  priorityMin: -5,\n  priorityMax:  0,\n\n  // Señales\n  resetContactTriesOnWindowChange: true,\n  nightlyResetAt: '05:00',\n\n  // Ventanas (idénticas a la hoja)\n  windows: [\n   \n    { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n  ],\n\n  // ============================================================\n  // Reglas por motivo (NOMENCLATURAS_MILLAS2 + Phone Rules ATT)\n  // ============================================================\n  outcomes: [\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 1: ACEPTACION\n    // ─────────────────────────────────────────────────────────\n    { idNom: 1, idMotivo: null, key: 'ACEPTACION', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['ACEPTACIÓN', 'CLIENTE ACEPTA LA OFERTA / TRANSFERENCIA'] },\n\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 2: NO ACEPTACION\n    // ─────────────────────────────────────────────────────────\n    { idNom: 2, idMotivo: 2, key: 'CLIENTE CIERRA MOLESTO', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['CIERRA MOLESTO', 'CUELGA MOLESTO', 'ENOJADO'] },\n    { idNom: 2, idMotivo: 1129, key: 'CLIENTE GROSERO DURANTE LA LLAMADA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['GROSERO', 'INSULTO'] },\n    { idNom: 2, idMotivo: 2620, key: 'CLIENTE NO DA APERTURA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['NO DA APERTURA'] },\n    { idNom: 2, idMotivo: 2029, key: 'CLIENTE NO DA APERTURA AL INICIO DE LA LLAMADA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['NO DA APERTURA INICIO', 'SIN APERTURA'] },\n    { idNom: 2, idMotivo: 1695, key: 'CUENTA CANCELADA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['CUENTA CANCELADA', 'CANCELO CUENTA'] },\n    { idNom: 2, idMotivo: 5, key: 'NO CONFIA EN ESTE TIPO DE LLAMADAS', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['NO CONFIA', 'DESCONFIA'] },\n    { idNom: 2, idMotivo: 2520, key: 'NO DESEA SER TRANSFERIDO', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['NO QUIERE TRANSFERENCIA', 'RECHAZA TRANSFERENCIA'] },\n    { idNom: 2, idMotivo: 14, key: 'TITULAR CERRARA LA CUENTA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['CANCELARA CUENTA', 'VA A CANCELAR'] },\n\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 3: PENDIENTE DE ACEPTACION\n    // ─────────────────────────────────────────────────────────\n    { idNom: 3, idMotivo: 20, key: 'NECESITA PENSAR', wait: 240, maxTries: 2, deltaPrio: 0,\n      aliases: ['PENSARLO', 'LO PIENSA', 'VA A PENSAR'] },\n    { idNom: 3, idMotivo: 2683, key: 'PENDIENTE SOLO PREGUNTA DE TRANSFERENCIA', wait: 60, maxTries: 2, deltaPrio: 0,\n      aliases: ['PREGUNTA TRANSFERENCIA', 'SOLO PREGUNTO'] },\n\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 4: CONTACTO FALLIDO JUSTIFICADO\n    // ─────────────────────────────────────────────────────────\n    { idNom: 4, idMotivo: 22, key: 'CAMBIO DE LUGAR DE TRABAJO', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['CAMBIO TRABAJO', 'NUEVO TRABAJO'] },\n    { idNom: 4, idMotivo: 1043, key: 'CLIENTE SOLICITA NO SER LLAMADO', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['NO LLAMAR MAS', 'SOLICITA NO LLAMAR'] },\n    { idNom: 4, idMotivo: 23, key: 'CUENTA BANCARIA CERRADA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['CUENTA CERRADA', 'CERRO CUENTA'] },\n    { idNom: 4, idMotivo: 24, key: 'CUENTA CORPORATIVA O COMPARTIDA', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['CORPORATIVA', 'COMPARTIDA'] },\n    { idNom: 4, idMotivo: 25, key: 'EQUIVOCADO', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['NUMERO EQUIVOCADO', 'WRONG NUMBER'] },\n    { idNom: 4, idMotivo: 1005, key: 'IMPOSIBLE CONTACTARSE CON EL CLIENTE', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['IMPOSIBLE CONTACTAR', 'NO SE PUEDE CONTACTAR'] },\n    { idNom: 4, idMotivo: 1130, key: 'IVR DE EMPRESA', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['IVR', 'IVR EMPRESA', 'CONTESTADOR EMPRESA'] },\n    { idNom: 4, idMotivo: 26, key: 'NO RESIDE EN EL PAIS', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['FUERA DEL PAIS PERMANENTE', 'EMIGRO'] },\n    { idNom: 4, idMotivo: 27, key: 'NO VIVE AHI', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['YA NO VIVE AHI', 'SE MUDO'] },\n    { idNom: 4, idMotivo: 28, key: 'TITULAR CON DISCAPACIDAD', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['DISCAPACIDAD', 'INCAPACITADO'] },\n    { idNom: 4, idMotivo: 29, key: 'TITULAR FALLECIDO', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['FALLECIDO', 'MURIO', 'FALLECIO'] },\n    { idNom: 4, idMotivo: 30, key: 'TITULAR NO HABLA ESPANOL', wait: 0, maxTries: 0, deltaPrio: 0,\n      aliases: ['NO HABLA ESPANOL', 'IDIOMA'] },\n\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 5: CONTACTO FALLIDO NO JUSTIFICADO\n    // ─────────────────────────────────────────────────────────\n    { idNom: 5, idMotivo: 33, key: 'LLAMAR A OTRO TELEFONO', wait: 15, maxTries: 2, deltaPrio: -1,\n      aliases: ['OTRO NUMERO', 'OTRO TELEFONO'] },\n    { idNom: 5, idMotivo: 34, key: 'NO SE TRANSFIRIO LLAMADA AL TITULAR', wait: 30, maxTries: 2, deltaPrio: -1,\n      aliases: ['NO TRANSFIRIERON', 'NO PASO AL TITULAR'] },\n    { idNom: 5, idMotivo: 35, key: 'SE CORTO LA LLAMADA', wait: 15, maxTries: 2, deltaPrio: -1,\n      aliases: ['LLAMADA CORTADA', 'SE CORTO', 'CALL DROPPED'] },\n    { idNom: 5, idMotivo: 31, key: 'TITULAR ESTA FUERA DEL PAIS', wait: 240, maxTries: 1, deltaPrio: -1,\n      aliases: ['VIAJANDO', 'DE VIAJE'] },\n    { idNom: 5, idMotivo: 32, key: 'TITULAR NO SE ENCUENTRA', wait: 60, maxTries: 2, deltaPrio: -1,\n      aliases: ['NO ESTA', 'NO SE ENCUENTRA'] },\n    { idNom: 5, idMotivo: 38, key: 'VOLVER A LLAMAR', wait: 60, maxTries: 2, deltaPrio: -1,\n      aliases: ['LLAMAR DESPUES', 'LLAMAR MAS TARDE'] },\n\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 6: NO CONTACTO JUSTIFICADO\n    // ─────────────────────────────────────────────────────────\n    { idNom: 6, idMotivo: 39, key: 'LINEA TELEFONICA FUERA DE SERVICIO O SUSPENDIDO', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['FUERA DE SERVICIO', 'SUSPENDIDO', 'LINEA SUSPENDIDA'] },\n    { idNom: 6, idMotivo: 40, key: 'LINEA TELEFONICA NO EXISTE', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['LINEA NO EXISTE', 'NUMERO NO EXISTE'] },\n\n    // ─────────────────────────────────────────────────────────\n    // NOMENCLATURA 7: NO CONTACTO NO JUSTIFICADO (Phone Rules ATT + Excel)\n    // ─────────────────────────────────────────────────────────\n     // NOMENCLATURA 7 — ajustada según Phone Rules de la tabla\n    { idNom: 7, idMotivo: -10, key: 'TONO DE FAX (ATT).', wait: 5, maxTries: 1, deltaPrio: -1,\n      aliases: ['TONO DE FAX (ATT)', 'FAX ATT', 'FAX'] },\n      // ← CAMBIO: wait 1→5, maxTries 0→1 (tabla: Fax = 5 min, 1 try)\n\n    { idNom: 7, idMotivo: -9, key: 'LLAMADA REDIRECCIONADA (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['LLAMADA REDIRECCIONADA (ATT)', 'REDIRECCIONADA'] },\n\n    { idNom: 7, idMotivo: -8, key: 'INSUFICIENCIA DE LINEAS TELEFONICAS (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['INSUFICIENCIA DE LINEAS TELEFONICAS (ATT)', 'LINEAS INSUFICIENTES'] },\n\n    { idNom: 7, idMotivo: -7, key: 'LINEA TELEFONICA NO VALIDA PARA PSTN (ATT).', wait: 5, maxTries: 1, deltaPrio: -1,\n      aliases: ['LINEA TELEFONICA NO VALIDA PARA PSTN (ATT)', 'NO VALIDA PSTN'] },\n      // ← CAMBIO: wait 1→5, maxTries 0→1 (tabla: Invalid number = 5 min, 1 try)\n\n    { idNom: 7, idMotivo: -6, key: 'LLAMADA RECHAZADA (ATT).', wait: 5, maxTries: 1, deltaPrio: 0,\n      aliases: ['LLAMADA RECHAZADA (ATT)', 'RECHAZADA ATT', 'REJECTED'] },\n      // ← CAMBIO: wait 1→5, maxTries 0→1 (tabla: Rejected = 5 min, 1 try)\n\n    { idNom: 7, idMotivo: -5, key: 'CLIENTE EN ESPERA CUELGA (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['CLIENTE EN ESPERA CUELGA (ATT)', 'CUELGA EN ESPERA'] },\n\n    { idNom: 7, idMotivo: -4, key: 'CLIENTE EN COLA CUELGA (ATT).', wait: 1, maxTries: 0, deltaPrio: -1,\n      aliases: ['CLIENTE EN COLA CUELGA (ATT)', 'CUELGA EN COLA'] },\n\n    { idNom: 7, idMotivo: -3, key: 'NO CONTESTA (ATT).', wait: 15, maxTries: 2, deltaPrio: -1,\n      aliases: ['NO CONTESTA (ATT)', 'NO CONTESTA', 'NO ANSWER'] },\n      // ← CAMBIO: wait 60→15, maxTries 0→2, deltaPrio -4→-1 (tabla: No answer = 15 min, 2 tries)\n\n    { idNom: 7, idMotivo: -2, key: 'BUZON DE VOZ (ATT).', wait: 5, maxTries: 1, deltaPrio: -1,\n      aliases: ['BUZON DE VOZ (ATT)', 'BUZON DE VOZ', 'VOICEMAIL', 'CONTESTADORA', 'MACHINE ANSWER'] },\n      // ← CAMBIO: wait 1→5, maxTries 0→1 (tabla: Machine answer = 5 min, 1 try)\n\n    { idNom: 7, idMotivo: -1, key: 'SUENA OCUPADO (ATT).', wait: 15, maxTries: 2, deltaPrio: -1,\n      aliases: ['SUENA OCUPADO (ATT)', 'OCUPADO', 'BUSY'] },\n      // ✓ Sin cambio — ya coincidía con la tabla (Busy = 15 min, 2 tries)\n\n    { idNom: 7, idMotivo: 41, key: 'BUZON DE VOZ', wait: 5, maxTries: 1, deltaPrio: -1,\n      aliases: ['VOICEMAIL SIN ATT'] },\n      // ← CAMBIO: wait 1→5, maxTries 0→1 (consistente con Machine answer)\n\n    { idNom: 7, idMotivo: 42, key: 'NO CONTESTA', wait: 15, maxTries: 2, deltaPrio: -1,\n      aliases: ['NO CONTESTA', 'NO ANSWER'] },\n      // ← CAMBIO: wait 60→15, maxTries 0→2 (consistente con No answer ATT)\n\n    { idNom: 7, idMotivo: 44, key: 'TONO DE FAX', wait: 5, maxTries: 1, deltaPrio: -1,\n      aliases: ['TONO DE FAX', 'FAX'] },\n  ],\n};\n\n// 1) Lee lo que venga (pick_policy/VAPI/DB)\n// Compatible con Run Once for All Items\nlet payload = (items && items.length > 0 && items[0].json)\n  ? items[0].json.system_payload\n  : null;\n\nlet cfgIn = parseJSONLoose(payload);\n\n// 2) Mezcla defaults → entrada (entrada prevalece)\nlet cfg = { ...DEFAULT_POLICY, ...(cfgIn || {}) };\n\n// 3) Guardas mínimas\nif (!Array.isArray(cfg.windows)  || cfg.windows.length === 0)  cfg.windows  = DEFAULT_POLICY.windows;\nif (!Array.isArray(cfg.outcomes) || cfg.outcomes.length === 0) cfg.outcomes = DEFAULT_POLICY.outcomes;\n\n// 4) Sanitiza numéricos principales\ncfg.dayMax           = num(cfg.dayMax,           DEFAULT_POLICY.dayMax);\ncfg.dayWait          = num(cfg.dayWait,          DEFAULT_POLICY.dayWait);\ncfg.offHoursWait     = num(cfg.offHoursWait,     DEFAULT_POLICY.offHoursWait);\ncfg.hopWaitMin       = num(cfg.hopWaitMin,       DEFAULT_POLICY.hopWaitMin);\ncfg.priorityMin      = num(cfg.priorityMin,      DEFAULT_POLICY.priorityMin);\ncfg.priorityMax      = num(cfg.priorityMax,      DEFAULT_POLICY.priorityMax);\ncfg.maxLifetimeTries = num(cfg.maxLifetimeTries, DEFAULT_POLICY.maxLifetimeTries);\n\n// 5) Normaliza ventanas (trims, únicos en phones, nums seguros)\ncfg.windows = cfg.windows.map(w => {\n  const list = String(w.phones || '')\n    .split(',')\n    .map(s => s.trim())\n    .filter(Boolean);\n  const uniq = [...new Set(list)].join(',');\n  return {\n    id:     String(w.id    || '').trim() || null,\n    days:   String(w.days  ?? '').trim(),\n    start:  String(w.start ?? '').trim(),\n    end:    String(w.end   ?? '').trim(),\n    max:    num(w.max,  1),\n    wait:   num(w.wait, cfg.offHoursWait),\n    phones: uniq,\n  };\n});\n\n// 6) Normaliza outcomes\n// Caso especial: idMotivo puede ser null (ACEPTACION) o negativo (ATT)\n// por eso no usamos num() directamente — preservamos null y negativos\ncfg.outcomes = cfg.outcomes.map(o => ({\n  idNom:     num(o.idNom, 0),\n  idMotivo:  o.idMotivo != null ? +o.idMotivo : null,\n  key:       o.key,\n  wait:      num(o.wait,      0),\n  maxTries:  num(o.maxTries,  0),\n  deltaPrio: num(o.deltaPrio, 0),\n  aliases:   Array.isArray(o.aliases) ? o.aliases : [],\n}));\n\n// 7) Devuelve resultado compatible con Run Once for All Items\nif (items && items.length > 0) {\n  items[0].json.system_payload = cfg;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        580
      ],
      "id": "1fe3fe2c-30e9-405d-9c5e-3d417a5d5c4b",
      "name": "MAPEO REGLAS DE MARCADO"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1560,
        500
      ],
      "id": "acbdb48f-4e31-4554-820a-23c5ba61663d",
      "name": "Limit",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 484afd71-2703-4852-8580-9629620dde82"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"outboundPhoneCall\",\n  \"name\": \"{{ $json.body.body.leads[0].id_registro }}\",\n  \"assistantId\": \"e4f6e15f-1aac-4c5d-bb66-7314ce755571\",\n  \"phoneNumberId\": \"451334d1-9ee7-4659-aa0b-491450adcbe5\",\n  \n  \"customer\": {\n    \"number\": \"={{ ((\"+593\"  + $json.body.body.leads[0].ph_celular || '').toString().replace(/[^0-9+]/g,'').replace(/^00/,'+').trim()) || null }}\",\n    \"numberE164CheckEnabled\": true\n  },\n\n  \"metadata\": {\n    \"id_campania\": \"{{ $json.body.body.leads[0].id_campania }}\",\n    \"id_registro\": \"{{ $json.body.body.leads[0].id_registro }}\"\n  },\n\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"id_campania\": \"{{ $json.body.body.leads[0].id_campania }}\",\n      \"id_registro\": \"{{ $json.body.body.leads[0].id_registro }}\",\n      \"cedula\": \"{{ $json.body.body.leads[0].cedula }}\",\n      \"nuic\": \"{{ $json.body.body.leads[0].nuic }}\",\n      \"nombre_cliente\": \"{{ $json.body.body.leads[0].nombre_cliente }}\",\n      \"segmento\": \"{{ $json.body.body.leads[0].segmento }}\",\n      \"ciudad\": \"{{ $json.body.body.leads[0].ciudad }}\",\n      \"email\": \"{{ $json.body.body.leads[0].email }}\",\n\"ph_celular\": \"{{ $json.body.body.leads[0].ph_celular }}\",\n\"ph_celular2\":\"{{ $json.body.body.leads[0].ph_celular2 }}\", \n\"ph_residencial\": \"{{ $json.body.body.leads[0].ph_residencial }}\",\n\"ph_residencial2\": \"{{ $json.body.body.leads[0].ph_residencial2 }}\",\n\"ph_comercial\": \"{{ $json.body.body.leads[0].ph_comercial }}\",\n\"ph_telefono4\": \"{{ $json.body.body.leads[0].ph_telefono4 }}\",\n      \"telefono_actual\":\"{{ $json.body.body.leads[0].telefono_actual }}\",\n      \"telefono_field\":\"{{ $json.body.body.leads[0].telefono_field }}\",\n      \"telefono_index\":\"{{ $json.body.body.leads[0].telefono_index }}\",\n      \"win_id\":\"{{ $json.body.body.leads[0].win_id }}\",\n      \"id_altiva\": \"{{ $json.body.body.leads[0].id_registro }}\",\n      \"sip\":\"9409\",\n      \"consumo\" : \"{{ $json.consumo }}\",\n      \"intentos_llamada\":\"{{ $json.intentos_llamada }}\",\n      \"tel_principal\": \"={{ (($json.telefono_actual || '').toString().replace(/[^0-9+]/g,'').replace(/^00/,'+').trim()) || null }}\",\n      \"win_tries\": \"{{ $json.win_tries }}\",\n      \"win_stamp\": \"{{ $json.win_stamp }}\",\n\"nombre\": \"{{ ($json.body.body.leads[0].nombre_cliente || '').match(/^\\S+/)?.[0] ?? 'Cliente' }}\",\n      \"momento\":\"buenos dias\"\n    }\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -240
      ],
      "id": "bfcd4ac7-7f80-4195-a72b-69253d25edeb",
      "name": "OCURRE LLAMADA A VAPI1",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const mock  = [\n  {\n    \"headers\": {\n      \"connection\": \"upgrade\",\n      \"host\": \"n8nps.plusservices.ec\",\n      \"content-length\": \"411\",\n      \"user-agent\": \"curl/8.0.1\",\n      \"accept\": \"*/*\",\n      \"content-type\": \"application/json\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"body\": {\n        \"leads\": [\n        \n            {\n            \"id_campania\": \"5595\",\n            \"cedula\": \"0952830677\",\n            \"nuic\": \"0952830677\",\n            \"nombre_cliente\": \"Raquel Noemí Beltrán Zavala\",\n            \"segmento\": \"AHO\",\n            \"ciudad\": \"Guayaquil\",\n            \"email\": \"carlos@test.com\",\n            \"ph_celular\": \"0995166290\",\n            \"ph_celular2\": \"0995166290\",\n            \"ph_residencial\": \"0995166290\",\n            \"ph_residencial2\": null,\n            \"ph_comercial\": null,\n            \"ph_telefono4\": null,\n            \"bandera\": \"1\",\n            \"id_registro\": \"7\",\n            \"nodo\": \"4\"\n          }\n        ]\n      }\n    },\n    \"webhookUrl\": \"http://localhost:5678/webhook/entrada-datos-general\",\n    \"executionMode\": \"production\"\n  }\n]\n\nreturn mock"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -200
      ],
      "id": "b62960b4-bee0-4b20-8a57-d5c8495d1950",
      "name": "Code2"
    }
  ],
  "pinData": {},
  "connections": {
    "EJECUTA ESTO CADA 20 SEG": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA Y MARCA COMO EN PROCESO": {
      "main": [
        [
          {
            "node": "SI SE ENCONTRO EL ID DEL REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI SE ENCONTRO EL ID DEL REGISTRO": {
      "main": [
        [
          {
            "node": "COMO DEBE LLAMAR EL BOT (POLITICAS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMO DEBE LLAMAR EL BOT (POLITICAS)": {
      "main": [
        [
          {
            "node": "POLITICAS Y REINTENTOS (RESPALDO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POLITICAS Y REINTENTOS (RESPALDO)": {
      "main": [
        [
          {
            "node": "SI PUEDE LLAMAR (VERDADERO O FALSO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI PUEDE LLAMAR (VERDADERO O FALSO)": {
      "main": [
        [
          {
            "node": "PROCESA LOS NUMEROS Y FORMATEA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FORMATEA STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA LOS NUMEROS Y FORMATEA": {
      "main": [
        [
          {
            "node": "SI NO ESTA FUERA DE LA LISTA DE NUMEROS DISPONIBLES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATEA STATUS": {
      "main": [
        [
          {
            "node": "GUARDA REGISTRO Y CAMPAÑA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI NO ESTA FUERA DE LA LISTA DE NUMEROS DISPONIBLES": {
      "main": [
        [
          {
            "node": "GUARDA REGISTRO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CUANDO NO SE ENCONTRO NUMERO VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CUANDO NO SE ENCONTRO NUMERO VALIDO": {
      "main": [
        [
          {
            "node": "GUARDAR REPORTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA REGISTRO": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "BUSCA Y MARCA COMO EN PROCESO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OCURRE LLAMADA A VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta EL STATUS de la llamada": {
      "main": [
        [
          {
            "node": "SI LA LLAMADA SE CIERRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "GUARDAR REPORTE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Volvemos a mapear1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Volvemos a mapear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera cada 30s antes de empezar el sgte nodo": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI LA LLAMADA SE CIERRA": {
      "main": [
        [
          {
            "node": "Establece los valores a guardar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera cada 30s antes de empezar el sgte nodo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Establece los valores a guardar": {
      "main": [
        [
          {
            "node": "Analiza el sentimiento del cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiza el sentimiento del cliente": {
      "main": [
        [
          {
            "node": "Agente clasificador de motivos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente clasificador de motivos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente clasificador de motivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Open IA": {
      "ai_languageModel": [
        [
          {
            "node": "Analiza el sentimiento del cliente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mapea texto del LLM a  UN MOTIVO": {
      "main": [
        [
          {
            "node": "MAPEO REGLAS DE MARCADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca estado despues de la llamada": {
      "main": [
        [
          {
            "node": "SI EL ESTADO ES PENDIENTE O REINTENTAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI EL ESTADO ES PENDIENTE O REINTENTAR": {
      "main": [
        [
          {
            "node": "mapea los campos del cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapea los campos del cliente": {
      "main": [
        [
          {
            "node": "GUARDAR REPORTE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDAR REPORTE1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDAR REPORTE2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Volvemos a mapear": {
      "main": [
        [
          {
            "node": "GUARDAMOS EN ALTIVA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Volvemos a mapear1": {
      "main": [
        [
          {
            "node": "GUARDAMOS EN ALTIVA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente clasificador de motivos": {
      "main": [
        [
          {
            "node": "Mapea texto del LLM a  UN MOTIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAPEO REGLAS DE MARCADO": {
      "main": [
        [
          {
            "node": "busca estado despues de la llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Consulta EL STATUS de la llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCURRE LLAMADA A VAPI": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "OCURRE LLAMADA A VAPI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "1906eb5b-6d11-46ae-9625-2b4b1ae01f79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "PUt4wgzYPZcFxM62",
  "tags": []
}