flujo_n8n/DBB_GESTIONLLAMADA_MENSUAL_C_v2.json
{
  "name": "DBB_GESTIONLLAMADA_MENSUAL_C_v2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const mock  = [\n  {\n    \"headers\": {\n      \"connection\": \"upgrade\",\n      \"host\": \"n8nps.plusservices.ec\",\n      \"content-length\": \"411\",\n      \"user-agent\": \"curl/8.0.1\",\n      \"accept\": \"*/*\",\n      \"content-type\": \"application/json\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"body\": {\n        \"leads\": [\n        \n            {\n            \"id_campania\": \"5595\",\n            \"cedula\": \"0952830677\",\n            \"nuic\": \"0952830677\",\n            \"nombre_cliente\": \"Raquel Noemí Beltrán Zavala\",\n            \"segmento\": \"AHO\",\n            \"ciudad\": \"Guayaquil\",\n            \"email\": \"carlos@test.com\",\n            \"ph_celular\": \"0995166290\",\n            \"ph_celular2\": \"0995166290\",\n            \"ph_residencial\": \"0995166290\",\n            \"ph_residencial2\": null,\n            \"ph_comercial\": null,\n            \"ph_telefono4\": null,\n            \"bandera\": \"1\",\n            \"id_registro\": \"7\",\n            \"nodo\": \"4\"\n          }\n        ]\n      }\n    },\n    \"webhookUrl\": \"http://localhost:5678/webhook/entrada-datos-general\",\n    \"executionMode\": \"production\"\n  }\n]\n\nreturn mock"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        480
      ],
      "id": "feb78899-5df2-4beb-a3e3-cb4579bdf0bb",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 484afd71-2703-4852-8580-9629620dde82"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"outboundPhoneCall\",\n  \"name\": \"{{ $json.body.body.leads[0].id_registro }}\",\n  \"assistantId\": \"e4f6e15f-1aac-4c5d-bb66-7314ce755571\",\n  \"phoneNumberId\": \"451334d1-9ee7-4659-aa0b-491450adcbe5\",\n  \n  \"customer\": {\n    \"number\": \"={{ ((\"+593\"  + $json.body.body.leads[0].ph_celular || '').toString().replace(/[^0-9+]/g,'').replace(/^00/,'+').trim()) || null }}\",\n    \"numberE164CheckEnabled\": true\n  },\n\n  \"metadata\": {\n    \"id_campania\": \"{{ $json.body.body.leads[0].id_campania }}\",\n    \"id_registro\": \"{{ $json.body.body.leads[0].id_registro }}\"\n  },\n\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"id_campania\": \"{{ $json.body.body.leads[0].id_campania }}\",\n      \"id_registro\": \"{{ $json.body.body.leads[0].id_registro }}\",\n      \"cedula\": \"{{ $json.body.body.leads[0].cedula }}\",\n      \"nuic\": \"{{ $json.body.body.leads[0].nuic }}\",\n      \"nombre_cliente\": \"{{ $json.body.body.leads[0].nombre_cliente }}\",\n      \"segmento\": \"{{ $json.body.body.leads[0].segmento }}\",\n      \"ciudad\": \"{{ $json.body.body.leads[0].ciudad }}\",\n      \"email\": \"{{ $json.body.body.leads[0].email }}\",\n\"ph_celular\": \"{{ $json.body.body.leads[0].ph_celular }}\",\n\"ph_celular2\":\"{{ $json.body.body.leads[0].ph_celular2 }}\", \n\"ph_residencial\": \"{{ $json.body.body.leads[0].ph_residencial }}\",\n\"ph_residencial2\": \"{{ $json.body.body.leads[0].ph_residencial2 }}\",\n\"ph_comercial\": \"{{ $json.body.body.leads[0].ph_comercial }}\",\n\"ph_telefono4\": \"{{ $json.body.body.leads[0].ph_telefono4 }}\",\n      \"telefono_actual\":\"{{ $json.body.body.leads[0].telefono_actual }}\",\n      \"telefono_field\":\"{{ $json.body.body.leads[0].telefono_field }}\",\n      \"telefono_index\":\"{{ $json.body.body.leads[0].telefono_index }}\",\n      \"win_id\":\"{{ $json.body.body.leads[0].win_id }}\",\n      \"id_altiva\": \"{{ $json.body.body.leads[0].id_registro }}\",\n      \"sip\":\"9409\",\n      \"consumo\" : \"{{ $json.consumo }}\",\n      \"intentos_llamada\":\"{{ $json.intentos_llamada }}\",\n      \"tel_principal\": \"={{ (($json.telefono_actual || '').toString().replace(/[^0-9+]/g,'').replace(/^00/,'+').trim()) || null }}\",\n      \"win_tries\": \"{{ $json.win_tries }}\",\n      \"prioridad\": \"={{ $json.body.body.leads[0].prioridad }}\",\n      \"win_stamp\": \"{{ $json.win_stamp }}\",\n\"nombre\": \"{{ ($json.body.body.leads[0].nombre_cliente || '').match(/^\\S+/)?.[0] ?? 'Cliente' }}\",\n      \"momento\":\"buenos dias\"\n    }\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        440
      ],
      "id": "14833368-92d3-4130-a86e-073ab8702156",
      "name": "OCURRE LLAMADA A VAPI1",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  // Tomamos Hour desde el nodo lejano por su nombre\n  const hour = parseInt($('EJECUTA ESTO CADA 20 SEG').first().json.Hour);\n\n  const saludoManana = Math.random() < 0.5 ? \"Buenos días\" : \"Buen día\";\n\n  let momento;\n\n  if (hour >= 5 && hour < 12) {\n    momento = saludoManana;\n  } else if (hour >= 12 && hour < 18) {\n    momento = \"Buenas tardes\";\n  } else {\n    momento = \"Buenas noches\";\n  }\n\n  item.json.momento = momento;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        880
      ],
      "id": "9bb51b25-f936-460a-8341-9ad9934ca952",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.generar_calendario_banderas(NOW()::DATE);\n\n",
        "options": {}
      },
      "id": "9767518e-cb2a-456f-b8ec-d83176a386ba",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1500,
        1180
      ],
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        880
      ],
      "id": "43ff65c0-aba7-4938-aed2-4ca85c3cbb88",
      "name": "Wait",
      "webhookId": "a92be152-9b38-49f9-b78d-32d42a378cc0"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        680
      ],
      "id": "b6c519c2-f8fe-4ab2-9640-d47ad195b570",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "picked_at": "={{ $now }}",
            "win_stamp": "={{ $json.win_stamp }}",
            "win_tries": "={{ $json.win_tries }}",
            "telefono_index": "={{ $json.telefono_index }}",
            "telefono_actual": "={{ $json.telefono_actual }}",
            "telefono_field": "={{ $json.telefono_field }}",
            "phones_allowed": "={{ $json.phones_allowed }}",
            "win_id": "={{ $json.win_id }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        660
      ],
      "id": "4a07dd13-e656-4aa5-8be0-4b0249914f43",
      "name": "GUARDA REGISTRO",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 484afd71-2703-4852-8580-9629620dde82"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"outboundPhoneCall\",\n  \"name\": \"{{ $json.id_registro }}\",\n  \"assistantId\": \"3fcd093b-b8c2-4d85-aa50-e1da35ea6111\",\n  \"phoneNumberId\": \"451334d1-9ee7-4659-aa0b-491450adcbe5\",\n  \n  \"customer\": {\n    \"number\": \"={{ ($json.telefono_actual || '').replace(/[^0-9+]/g,'').replace(/^00/,'+').trim() || null }}\",\n    \"numberE164CheckEnabled\": true\n  },\n\n  \"metadata\": {\n    \"id_campania\": \"{{ $json.id_campania }}\",\n    \"id_registro\": \"{{ $json.id_registro }}\"\n  },\n\n  \"assistantOverrides\": {\n    \"variableValues\": {\n\"id_campania\": \"{{ ($json.id_campania || '').toString().replace(/\\s+/g,' ').trim() }}\",\n\"id_registro\": \"{{ $json.id_registro }}\",\n      \"cedula\": \"{{ $json.cedula }}\",\n      \"nuic\": \"{{ $json.nuic }}\",\n      \"nombre_cliente\": \"{{ $json.nombre_cliente }}\",\n      \"segmento\": \"{{ $json.segmento }}\",\n      \"ciudad\": \"{{ $json.ciudad }}\",\n      \"email\": \"{{ $json.email }}\",\n\"ph_celular\": \"{{ $json.ph_celular }}\",\n\"ph_celular2\":\"{{ $json.ph_celular }}\", \n\"ph_residencial\": \"{{ $json.ph_residencial }}\",\n\"ph_residencial2\": \"{{ $json.ph_residencial2 }}\",\n\"ph_comercial\": \"{{ $json.ph_comercial }}\",\n\"ph_telefono4\": \"{{ $json.ph_telefono4 }}\",\n      \"telefono_actual\":\"{{ $json.telefono_actual }}\",\n      \"telefono_field\":\"{{ $json.telefono_field }}\",\n      \"telefono_index\":\"{{ $json.telefono_index }}\",\n      \"win_id\":\"{{ $json.win_id }}\",\n      \"id_altiva\": \"{{ $json.id_altiva }}\",\n      \"sip\":\"9331\",\n      \"consumo\" : \"{{ $json.consumo }}\",\n      \"intentos_llamada\":\"{{ $json.intentos_llamada }}\",\n      \"tel_principal\": \"={{ (($json.telefono_actual || '').toString().replace(/[^0-9+]/g,'').replace(/^00/,'+').trim()) || null }}\",\n      \"win_tries\": \"{{ $json.win_tries }}\",\n      \"prioridad\": \"={{ $json.prioridad }}\",\n      \"win_stamp\": \"{{ $json.win_stamp }}\",\n\"nombre\": \"{{ ($json.nombre_cliente || '').match(/^\\S+/)?.[0] ?? 'Cliente' }}\",\n      \"momento\":\"{{ $json.momento }}\"\n    }\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        880
      ],
      "id": "1653cad7-cc0f-4394-ba6a-99a9443a802e",
      "name": "OCURRE LLAMADA A VAPI",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "status_flujo": "={{ $json.status_flujo }}",
            "reintentar_iso": "={{ $json.reintentar_iso }}",
            "win_stamp": "={{ $json._win_stamp }}",
            "observaciones_internas": "={{ $json.observaciones_internas }}",
            "telefono_actual": "={{ $json.telefono_actual }}",
            "telefono_field": "={{ $json.telefono_field }}",
            "win_id": "={{ $json.win_id }}",
            "phones_allowed": "={{ $json.phones_allowed }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}",
            "last_outcome_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        980
      ],
      "id": "44666cc8-bbe2-45cc-81aa-6265b1371f11",
      "name": "GUARDAR REPORTE",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/********************************************************\n * CODE 9 — Sin número elegible en la ventana (v3.5)\n * ACTUALIZADO: Alineado con NOMENCLATURAS_MILLAS2\n * - Si hay números pero la ventana no los permite → PENDIENTE\n *   y reintentar_iso = inicio de la próxima ventana que los admita.\n * - Si no hay dígitos en ningún campo → AGOTADO + DISCARDED.\n * - Si hay dígitos pero todos inválidos → AGOTADO + DISCARDED.\n ********************************************************/\nconst FIELDS = [\n  'ph_celular','ph_celular2','ph_residencial','ph_residencial2','ph_comercial','ph_telefono4'\n];\n\n// --- helpers de política/TZ ---\nfunction parseLoose(v){\n  if (!v) return {};\n  if (typeof v === 'object') return v;\n  let s = String(v).trim();\n  if (s.startsWith('=')) s = s.slice(1).trim();\n  try { return JSON.parse(s); } catch {}\n  try { return JSON.parse(JSON.parse(s)); } catch {}\n  return {};\n}\n\nconst DEFAULT_POLICY = {\n  TZ: 'America/Guayaquil',\n  offHoursWait: 60,\n  windows: [\n       { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '0,6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n   \n  ],\n};\n\nlet cfgIn = parseLoose($json.system_payload);\nconst cfg = { ...DEFAULT_POLICY, ...(cfgIn || {}) };\nconst TZ  = cfg.TZ || DEFAULT_POLICY.TZ;\nconst windows = (Array.isArray(cfg.windows) && cfg.windows.length) ? cfg.windows : DEFAULT_POLICY.windows;\nconst offHoursWait = Number.isFinite(+cfg.offHoursWait) ? +cfg.offHoursWait : DEFAULT_POLICY.offHoursWait;\n\n// --- utilidades de tiempo en TZ ---\nfunction nowTZ(){ return new Date(new Date().toLocaleString('en-US', { timeZone: TZ })); }\nfunction minutes(hhmm){ const [h,m]=String(hhmm).split(':').map(Number); return h*60+m; }\nfunction dateAtTZ(baseDate, hhmm){\n  const [H,M] = String(hhmm).split(':').map(Number);\n  const d = new Date(new Date(baseDate).toLocaleString('en-US', { timeZone: TZ }));\n  d.setHours(0,0,0,0);\n  d.setHours(H, M, 0, 0);\n  return d;\n}\n\n// --- estado de los phones ---\nconst anyDigits = FIELDS.some(f => /\\d/.test(String($json[f] || '')));\n\n// Si Code7 no lo calculó, lo calculamos aquí\nif (typeof $json.hasPhonesOutsideWindow === 'undefined') {\n  const allowed = new Set(String($json.phones_allowed || '').split(',').map(s=>s.trim()).filter(Boolean));\n  const present = FIELDS.filter(f => /\\d/.test(String($json[f] || '')));\n  $json.hasPhonesOutsideWindow = present.some(f => !allowed.has(f));\n}\nconst hasOutside = Boolean($json.hasPhonesOutsideWindow);\n\n// (1) Hay números pero en campos NO permitidos por la ventana → posponer a próxima ventana que sí los admita\nif (hasOutside) {\n  const presentFields = FIELDS.filter(f => /\\d/.test(String($json[f] || '')));\n  const now = nowTZ();\n  const nowMin = minutes(now.toTimeString().slice(0,5));\n\n  let best = null, bestWinId = null;\n\n  for (let addDay = 0; addDay <= 7; addDay++) {\n    const probe = new Date(now);\n    probe.setDate(probe.getDate() + addDay);\n    const dow = new Date(new Date(probe).toLocaleString('en-US', { timeZone: TZ })).getDay();\n\n    for (const w of windows) {\n      const okDay = String(w.days).split(',').map(Number).includes(dow);\n      if (!okDay) continue;\n\n      const allowed = new Set(String(w.phones||'').split(',').map(s=>s.trim()).filter(Boolean));\n      const intersects = presentFields.some(f => allowed.has(f));\n      if (!intersects) continue;\n\n      const startMin = minutes(w.start);\n      if (addDay === 0 && startMin <= nowMin) continue;\n\n      const cand = dateAtTZ(probe, w.start);\n      if (!best || cand < best) { best = cand; bestWinId = w.id || null; }\n    }\n    if (best) break;\n  }\n\n  $json.status_flujo        = 'pendiente';\n  $json.telefono_actual     = '';\n  $json.telefono_field      = '';\n  $json.isOutOfNumbers      = true;\n  $json.hasValidPhones      = true;\n  $json.telefono_try_list   = [];\n  $json.observaciones_internas = 'PHONES_OUTSIDE_WINDOW';\n  $json.reason_no_number    = 'NUMBERS_ONLY_IN_NON_ALLOWED_FIELDS';\n  $json.present_fields      = presentFields.join(',');\n\n  const fallback = new Date(now.getTime() + offHoursWait*60000);\n  const nextAt   = best || fallback;\n  $json.reintentar_iso = nextAt.toISOString();\n  if (bestWinId) $json.win_next_id = bestWinId;\n  $json.next_window_at = best ? best.toISOString() : null;\n\n  return $json;\n}\n\n// (2) No hay ningún dígito → cerrar como DISCARDED\n// NOMENCLATURAS_MILLAS2: Nomenclatura 4, id_motivo 1005\nif (!anyDigits) {\n  $json.status_flujo        = 'agotado';\n  $json.reintentar_iso      = null;\n  $json.telefono_actual     = '';\n  $json.telefono_field      = '';\n  $json.isOutOfNumbers      = true;\n  $json.hasValidPhones      = false;\n  $json.categoria_motivo    = 'IMPOSIBLE CONTACTARSE CON EL CLIENTE';\n  $json.id_nomenclatura     = 4;    // CONTACTO FALLIDO JUSTIFICADO\n  $json.id_motivo           = 1005; // IMPOSIBLE CONTACTARSE CON EL CLIENTE\n  $json.nomenclatura_ultima = 4;\n  $json.motivo_ultimo       = 1005;\n  $json.observaciones_internas = 'NO_PHONE_FIELDS';\n  $json.reason_no_number    = 'NO_DIGITS_IN_ANY_FIELD';\n  return $json;\n}\n\n// (3) Hay dígitos pero todos inválidos → DISCARDED\n// NOMENCLATURAS_MILLAS2: Nomenclatura 4, id_motivo 1030\n$json.status_flujo        = 'agotado';\n$json.reintentar_iso      = null;\n$json.telefono_actual     = '';\n$json.telefono_field      = '';\n$json.isOutOfNumbers      = true;\n$json.hasValidPhones      = false;\n$json.categoria_motivo    = 'IMPOSIBLE CONTACTARSE CON EL CLIENTE';\n$json.id_nomenclatura     = 4;    // CONTACTO FALLIDO JUSTIFICADO\n$json.id_motivo           = 1005; // IMPOSIBLE CONTACTARSE CON EL CLIENTE\n$json.nomenclatura_ultima = 4;\n$json.motivo_ultimo       = 1005;\n$json.observaciones_internas = 'ALL_INVALID_FORMATS';\n$json.reason_no_number    = 'ALL_NUMBERS_INVALID_IN_ALLOWED_FIELDS';\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        960
      ],
      "id": "96399a85-9fa7-4737-ab89-f724798399d8",
      "name": "CUANDO NO SE ENCONTRO NUMERO VALIDO"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71d6f329-2f85-4ba1-b581-2766d94ab22e",
              "leftValue": "={{ $json.isOutOfNumbers }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        860
      ],
      "id": "04539c12-610d-4738-99ad-3dee21da7425",
      "name": "SI NO ESTA FUERA DE LA LISTA DE NUMEROS DISPONIBLES"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80e78026-bc55-4760-9d2e-9b210e4f4b0d",
              "name": "status_flujo",
              "value": "={{$json.status_sugerido}}",
              "type": "string"
            },
            {
              "id": "a0a74a6b-a0dc-4bd0-95cb-e301c54d8456",
              "name": "reintentar_iso",
              "value": "={{ $json.reintentar_iso }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        1060
      ],
      "id": "cfb30f16-be6d-47d1-b33c-9047298aca44",
      "name": "FORMATEA STATUS"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_v2",
          "mode": "list",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_registro": "={{parseInt($json.id_registro??0)}}",
            "id_campania": "={{ $json.id_campania }}",
            "status_flujo": "={{ $json.status_sugerido }}",
            "reintentar_iso": "={{ $json.reintentar_iso }}",
            "system_payload": "={{ typeof $json.system_payload === 'object' ? JSON.stringify($json.system_payload) : $json.system_payload }}",
            "last_outcome_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_campania",
              "displayName": "id_campania",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cedula",
              "displayName": "cedula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nuic",
              "displayName": "nuic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "segmento",
              "displayName": "segmento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_raw",
              "displayName": "phones_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular",
              "displayName": "ph_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_celular2",
              "displayName": "ph_celular2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial",
              "displayName": "ph_residencial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_residencial2",
              "displayName": "ph_residencial2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_comercial",
              "displayName": "ph_comercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ph_telefono4",
              "displayName": "ph_telefono4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_flujo",
              "displayName": "status_flujo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "reintentar_iso",
              "displayName": "reintentar_iso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "last_try_ymd",
              "displayName": "last_try_ymd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "picked_at",
              "displayName": "picked_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_stamp",
              "displayName": "win_stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "win_tries",
              "displayName": "win_tries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "nomenclatura_ultima",
              "displayName": "nomenclatura_ultima",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "motivo_ultimo",
              "displayName": "motivo_ultimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "resumen_llamada",
              "displayName": "resumen_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentimiento",
              "displayName": "sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "transcripcion",
              "displayName": "transcripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "duracion_segundos",
              "displayName": "duracion_segundos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "observaciones_internas",
              "displayName": "observaciones_internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "system_payload",
              "displayName": "system_payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_actual",
              "displayName": "telefono_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_field",
              "displayName": "telefono_field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_index",
              "displayName": "telefono_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "win_id",
              "displayName": "win_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phones_allowed",
              "displayName": "phones_allowed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_outcome_at",
              "displayName": "last_outcome_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        1060
      ],
      "id": "c52d9bb8-b265-4616-90ef-05226f2893db",
      "name": "GUARDA REGISTRO Y CAMPAÑA",
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/*****************************************************************\n * SELECT PHONE v11 — VALIDACIÓN REAL ECUADOR\n * - Usa SOLO $json.phones (orden de la ventana).\n * - Normaliza a E.164 correctamente (EC).\n * - Valida celulares y fijos reales.\n * - Sin auto-avance ni hops.\n * - Sin recorrido circular.\n *****************************************************************/\n\n// =====================\n// CONFIG\n// =====================\nlet cfg = {};\ntry {\n  cfg = typeof $json.system_payload === 'string'\n    ? JSON.parse($json.system_payload)\n    : ($json.system_payload || {});\n} catch { cfg = {}; }\n\nconst CFG = { defaultCC: (cfg.CC || cfg.defaultCC || '+593') };\n\n// =====================\n// HELPERS\n// =====================\nfunction normalizeList(v){\n  if (!v) return [];\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'object') return Object.values(v);\n  return String(v).split(/[,;|]/);\n}\n\nconst stripToDigitsPlus = r => (r ?? '').toString().replace(/[^\\d+]/g, '');\n\n// =====================\n// VALIDACIÓN ECUADOR REAL\n// =====================\nconst PHONE_CODES = ['02','03','04','05','06','07'];\n\nfunction isValidECPhone(raw) {\n  if (!raw) return false;\n\n  let x = stripToDigitsPlus(raw);\n\n  if (x.startsWith('+')) x = x.slice(1);\n\n  // CELULAR\n  if (/^09\\d{8}$/.test(x)) return true;\n  if (/^5939\\d{8}$/.test(x)) return true;\n\n  // FIJO\n  if (/^2\\d{6}$/.test(x)) return true;\n\n  if (/^0\\d{8}$/.test(x)) {\n    const code = x.substring(0,2);\n    if (PHONE_CODES.includes(code)) return true;\n  }\n\n  if (/^593\\d{8,9}$/.test(x)) {\n    const region = x.substring(3,5);\n    if (PHONE_CODES.includes(region)) return true;\n  }\n\n  return false;\n}\n\n// =====================\n// NORMALIZACIÓN E.164 (CORRECTA)\n// =====================\nfunction toE164(n){\n  let x = stripToDigitsPlus(n).trim();\n  if (!x) return '';\n\n  // limpiar múltiples +\n  if (x.includes('+')) {\n    x = '+' + x.replace(/[+]/g, '');\n  }\n\n  // 00 → +\n  if (x.startsWith('00')) x = '+' + x.slice(2);\n\n  if (!x.startsWith('+') && CFG.defaultCC === '+593') {\n\n    // celular local\n    if (/^09\\d{8}$/.test(x)) {\n      x = '+593' + x.slice(1);\n    }\n\n    // fijo local\n    else if (/^0\\d{8}$/.test(x)) {\n      x = '+593' + x.slice(1);\n    }\n\n    // ya viene como 593...\n    else if (/^593\\d+$/.test(x)) {\n      x = '+' + x;\n    }\n\n    // fallback\n    else if (/^\\d{7,}$/.test(x)) {\n      x = CFG.defaultCC + x;\n    }\n  }\n\n  return x;\n}\n\n// =====================\n// VALIDADOR FINAL\n// =====================\nconst valid = n => {\n  if (!n) return false;\n  if (!/^\\+\\d{7,15}$/.test(n)) return false;\n  return isValidECPhone(n);\n};\n\n// =====================\n// CAMPOS\n// =====================\nconst windowCols = normalizeList($json.phones).map(s => s.trim()).filter(Boolean);\nconst cols = [...new Set(windowCols)];\n\n// detectar teléfonos fuera de ventana\nconst DIG_FIELDS = ['ph_celular','ph_celular2','ph_residencial','ph_residencial2','ph_comercial','ph_telefono4'];\nconst presentWithDigits = DIG_FIELDS.filter(f => /\\d/.test(String($json[f] || '')));\nconst allowedSet = new Set(cols);\n\n$json.hasPhonesOutsideWindow = presentWithDigits.some(f => !allowedSet.has(f));\n$json.phones_outside_fields = presentWithDigits.filter(f => !allowedSet.has(f)).join(',');\n\n// =====================\n// CURSOR\n// =====================\nlet idx = Number($json.telefono_index || 1);\nif (idx < 1) idx = 1;\n\n$json.phones_effective   = cols.join(',');\n$json.telefono_index_max = cols.length;\n\n// =====================\n// SIN NÚMEROS\n// =====================\nif (cols.length === 0 || idx > cols.length) {\n  $json.telefono_actual   = '';\n  $json.telefono_field    = '';\n  $json.isOutOfNumbers    = true;\n  $json.hasValidPhones    = false;\n  $json.telefono_try_list = [];\n\n  $json.reason_no_number =\n    cols.length === 0\n      ? 'NO_ALLOWED_FIELDS_IN_WINDOW'\n      : 'CURSOR_OUT_OF_RANGE';\n\n  return $json;\n}\n\n// =====================\n// SELECCIÓN\n// =====================\nlet elegido = '';\nlet elegidoField = '';\n\nconst tried = [];\nconst seen = new Set();\n\nfor (let pos = idx - 1; pos < cols.length; pos++) {\n\n  const field = cols[pos];\n  const raw   = $json[field];\n  const num   = toE164(raw);\n  const ok    = valid(num);\n\n  tried.push({ field, raw, num, valid: ok });\n\n  if (!num) continue;\n  if (seen.has(num)) continue;\n\n  seen.add(num);\n\n  if (ok) {\n    elegido = num;\n    elegidoField = field;\n    break;\n  }\n}\n\n// =====================\n// OUTPUT\n// =====================\n$json.telefono_actual   = elegido;\n$json.telefono_field    = elegidoField;\n$json.telefono_index    = idx; // NO AVANZA\n$json.isOutOfNumbers    = !elegido;\n$json.hasValidPhones    = tried.some(t => t.valid);\n$json.telefono_try_list = tried.slice(0, 12);\n\nif (!elegido) {\n  $json.reason_no_number = 'NO_VALID_NUMBER_IN_ALLOWED_FIELDS';\n}\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        860
      ],
      "id": "2a2a2953-b650-4712-8b5d-bb4ebf11c171",
      "name": "PROCESA LOS NUMEROS Y FORMATEA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af1a295f-9033-4eff-8b80-d54d2b9ec868",
              "leftValue": "={{ $json.puedeLlamar }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        960
      ],
      "id": "32eafba8-0e89-40cb-aa41-2dc135a79f84",
      "name": "SI PUEDE LLAMAR (VERDADERO O FALSO)"
    },
    {
      "parameters": {
        "jsCode": "/************************************************************\n *  CODE 8 — DIAL LOGIC (v2.17 - Alineado NOMENCLATURAS_MILLAS2)\n *  ▸ Inyecta política DEFAULT si no llega system_payload\n *  ▸ Valida horario (windows) y límite por ventana (=1)\n *  ▸ Restaura pairing de DB (win_* y telefono_index)\n *  ▸ Reset del cursor SOLO al CAMBIAR DE VENTANA\n *  ▸ dayMax = 0 (sin límite diario). No hay resets nocturnos.\n *  ▸ Guard: respeta maxLifetimeTries\n *  ▸ NOTA: NO define outcomes - eso lo hace Code 2 (post-llamada)\n ************************************************************/\n\n/* 0) Fallback de política dentro de Code8 (solo si no viene nada) */\n(function ensurePolicy(){\n  const hasPolicy =\n    $json.system_payload &&\n    ((typeof $json.system_payload === 'object' && Object.keys($json.system_payload).length) ||\n     (typeof $json.system_payload === 'string' && $json.system_payload.trim().length));\n\n  if (hasPolicy) return;\n\n  const key = String($json.id_campania || $json.campaign_key || 'DEFAULT').toUpperCase();\n\n  const POLICY_DEFAULT = {\n    policyVersion: '2.0',\n    TZ: 'America/Guayaquil',\n    CC: '+593',\n\n    // ═══════════════════════════════════════════════════════════\n    // LÍMITES GENERALES (hoja Altiva)\n    // ═══════════════════════════════════════════════════════════\n    dayMax: 7,\n    dayWait: 240,\n    offHoursWait: 60,\n    maxLifetimeTries: 14,\n\n    // ═══════════════════════════════════════════════════════════\n    // TOGGLES\n    // ═══════════════════════════════════════════════════════════\n    retryNoAnswerSameDay: false,\n    hopOnVoicemail: false,\n    hopOnBusy: false,\n    hopWaitMin: 1,\n\n    // ═══════════════════════════════════════════════════════════\n    // PRIORIDAD\n    // ═══════════════════════════════════════════════════════════\n    priorityMin: -5,\n    priorityMax:  0,\n\n    // ═══════════════════════════════════════════════════════════\n    // RESET DE CONTADORES\n    // ═══════════════════════════════════════════════════════════\n    resetContactTriesOnWindowChange: true,\n    nightlyResetAt: '05:00',\n\n    // ═══════════════════════════════════════════════════════════\n    // VENTANAS HORARIAS (calcado a hoja Altiva)\n    // ═══════════════════════════════════════════════════════════\n    windows: [\n   { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '0,6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    ],\n\n    // ═══════════════════════════════════════════════════════════\n    // OUTCOMES: No se definen aquí - Code 2 los inyecta post-llamada\n    // Code 8 es PRE-llamada, no necesita outcomes\n    // ═══════════════════════════════════════════════════════════\n  };\n\n  const POLICIES = { DEFAULT: POLICY_DEFAULT };\n  $json.system_payload = POLICIES[key] || POLICY_DEFAULT;\n  $json._policy_source = 'Code8_fallback';\n})();\n\nfunction parsePayload(v){\n  if (!v) return {};\n  if (typeof v === 'object') return v;\n  let s = String(v).trim();\n  if (s.startsWith('=')) s = s.slice(1).trim();\n  try { return JSON.parse(s); } catch {}\n  try { return JSON.parse(JSON.parse(s)); } catch {}\n  return {};\n}\nconst parseIntSafe = (v, def = 0) => {\n  const n = parseInt(v ?? def, 10);\n  return Number.isNaN(n) ? def : n;\n};\n\n/* Defaults para fallback seguro */\nconst DEFAULT_POLICY = {\n  TZ: 'America/Guayaquil',\n  offHoursWait: 60,\n  maxLifetimeTries: 14,\n  windows: [\n    { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n  ],\n};\n\n/* 1) Cargar política + normalizar */\nconst cfgIn = parsePayload($json.system_payload) || {};\nconst cfg   = { ...DEFAULT_POLICY, ...cfgIn };\nconst TZ    = cfg.TZ || DEFAULT_POLICY.TZ;\nconst windows = Array.isArray(cfg.windows) && cfg.windows.length\n  ? cfg.windows\n  : DEFAULT_POLICY.windows;\n\n/* Dejar la política normalizada disponible para los siguientes nodos */\n$json.system_payload = cfg;\n\n/* 2) Restaurar pairing desde DB */\nfunction firstItemFrom(nodeName) {\n  try {\n    const arr = $items(nodeName, 0) || [];\n    return arr.length ? (arr[0].json || {}) : null;\n  } catch { return null; }\n}\n\nconst DB_NODE_CANDIDATES = [\"Execute a SQL query\"];\n\nlet row = null;\nfor (const name of DB_NODE_CANDIDATES) {\n  row = firstItemFrom(name);\n  if (row) break;\n}\nif (!row) row = ($json.row || {});\n\nif ($json.intentos_llamada == null) $json.intentos_llamada = row.intentos_llamada ?? 0;\nif (!$json.last_try_ymd)            $json.last_try_ymd     = row.last_try_ymd     ?? null;\nif ($json.prioridad == null) $json.prioridad = row.prioridad ?? 0;\nif (!$json.win_stamp && row.win_stamp)                 $json.win_stamp = row.win_stamp;\nif ($json.win_tries == null && row.win_tries != null)  $json.win_tries = row.win_tries;\nif ($json.telefono_index == null && row.telefono_index != null) {\n  $json.telefono_index = row.telefono_index;\n}\n\n/* 2.5) Guard de intentos de vida */\nconst lifeMax = Number.isFinite(+cfg.maxLifetimeTries) ? +cfg.maxLifetimeTries : 7;\nconst totalTries = Number($json.intentos_llamada || 0);\nif (totalTries >= lifeMax) {\n  $json.puedeLlamar    = false;\n  $json.reintentar_iso = null;\n  $json.status_sugerido = 'agotado';\n  $json.win_id    = $json.win_id ?? null;\n  $json.win_stamp = $json.win_stamp ?? null;\n  $json.win_tries = $json.win_tries ?? null;\n  return $json;\n}\n\n/* 3) Ahora local y búsqueda de ventana activa */\nconst now  = new Date(new Date().toLocaleString('en-US', { timeZone: TZ }));\nconst hhmm = now.toTimeString().slice(0,5);\nconst dow  = now.getDay();\n\nconst win = windows.find(w =>\n  String(w.days).split(',').map(Number).includes(dow) &&\n  hhmm >= String(w.start) && hhmm <= String(w.end)\n);\n\n/* 4) Fuera de horario → no llamar, posponer offHoursWait */\nconst offHoursWait = parseIntSafe(cfg.offHoursWait, DEFAULT_POLICY.offHoursWait);\nif (!win) {\n  $json.puedeLlamar    = false;\n  const t = new Date(now); t.setMinutes(t.getMinutes() + offHoursWait);\n  $json.reintentar_iso = t.toISOString();\n  $json.win_id         = null;\n  $json.win_stamp      = $json.win_stamp ?? null;\n  $json.win_tries      = $json.win_tries ?? null;\n  $json.status_sugerido = 'pendiente';\n  return $json;\n}\n\n/* 5) Control por ventana (hoja: max=1, wait=30) */\nconst ymd = now.toISOString().slice(0,10);\nconst winId   = win.id ?? `D${dow}-${win.start}-${win.end}`;\nconst stamp   = `${ymd}:${winId}`;\nconst maxVent = parseIntSafe(win.max, 1);\nconst waitWin = parseIntSafe(win.wait, offHoursWait);\n\n/* Cambio de ventana → reset de contador y cursor */\nif ($json.win_stamp !== stamp) {\n  $json.win_stamp      = stamp;\n  $json.win_tries      = 0;\n  $json.telefono_index = 1;\n}\n\n/* Límite por ventana alcanzado → no llamar ahora */\nconst triesWin = parseIntSafe($json.win_tries, 0);\nif (triesWin >= maxVent) {\n  $json.puedeLlamar    = false;\n  const t = new Date(now); t.setMinutes(t.getMinutes() + waitWin);\n  $json.reintentar_iso = t.toISOString();\n  $json.win_id    = winId;\n  $json.win_stamp = $json.win_stamp;\n  $json.win_tries = $json.win_tries;\n  $json.status_sugerido = 'pendiente';\n  return $json;\n}\n\n/* 6) Se puede llamar → exponer orden de teléfonos de la ventana */\n$json.puedeLlamar    = true;\n$json.phones         = String(win.phones || '')\n  .split(',').map(s => s.trim()).filter(Boolean).join(',');\n$json.phones_allowed = $json.phones;\n$json.win_id         = winId;\n$json.win_stamp = $json.win_stamp;\n$json.win_tries = $json.win_tries;\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        960
      ],
      "id": "707cce21-fbd9-4630-86e0-9a6b754ec0b8",
      "name": "POLITICAS Y REINTENTOS (RESPALDO)"
    },
    {
      "parameters": {
        "jsCode": "// pick_policy v2.0 (NOMENCLATURAS_MILLAS2) — prod-ready, preserva pairing\n// El codigo configura  , Para esta campaña, ¿cómo debo llamar a los leads, cuándo, cuántas veces, y qué hacer según el resultado?\nconst lead = $json;\nconst key  = String(lead.id_campania || lead.campaign_key || 'DEFAULT').toUpperCase();\n\nconst POLICIES = {\n  DEFAULT: {\n    policyVersion: '2.0',\n    TZ: 'America/Guayaquil',\n    CC: '+593',\n    \n    // Límites generales (hoja: \"Maximum number of tries per day = 0\")\n    dayMax: 7,\n    dayWait: 240,\n    offHoursWait: 60,\n    \n    // Tope de intentos de vida del lead (fila \"Maximum number of tries = 7\")\n    maxLifetimeTries: 14,\n    \n    // Switches (hoja: NO \"hop\" intra-intervalo)\n    retryNoAnswerSameDay: false,\n    hopOnVoicemail: false,\n    hopOnBusy: false,\n    hopWaitMin: 1,\n    \n    // Clamp de prioridad\n    priorityMin: -5,\n    priorityMax:  0,\n    \n    // Reset de cursor/tries al cambiar de ventana (la hoja dice \"Reset contact tries: Yes\")\n    resetContactTriesOnWindowChange: true,\n    nightlyResetAt: '05:00',\n    \n    // Ventanas + orden de teléfonos (calcado a la hoja)\n    windows: [\n { id: 'WD_0800_1759', days: '1,2,3,4,5', start: '08:00', end: '17:59', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    { id: 'WE_0930_1230', days: '6',       start: '09:30', end: '12:30', max: 1, wait: 30,\n      phones: 'ph_celular,ph_celular2,ph_residencial,ph_residencial2,ph_comercial,ph_telefono4' },\n    ],\n    \n    // ═══════════════════════════════════════════════════════════════════════\n    // OUTCOMES: Alineados 100% con NOMENCLATURAS_MILLAS2\n    // ═══════════════════════════════════════════════════════════════════════\n    outcomes: [\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 1: ACEPTACION\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 1, idMotivo: 0, key: 'ACEPTACION', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['ACEPTACION'] },\n\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 2: NO ACEPTACION\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 2, idMotivo: 2, key: 'CLIENTE CIERRA MOLESTO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CIERRA MOLESTO', 'CUELGA MOLESTO', 'ENOJADO'] },\n      { idNom: 2, idMotivo: 5, key: 'NO CONFIA EN ESTE TIPO DE LLAMADAS', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO CONFIA', 'DESCONFIA'] },\n      { idNom: 2, idMotivo: 14, key: 'TITULAR CERRARA LA CUENTA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CANCELARA CUENTA', 'VA A CANCELAR'] },\n      { idNom: 2, idMotivo: 1129, key: 'CLIENTE GROSERO DURANTE LA LLAMADA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CLIENTE GROSERO', 'GROSERO'] },\n      { idNom: 2, idMotivo: 1695, key: 'CUENTA CANCELADA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CUENTA CANCELADA', 'CANCELO CUENTA'] },\n      { idNom: 2, idMotivo: 2029, key: 'CLIENTE NO DA APERTURA AL INICIO DE LA LLAMADA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO DA APERTURA INICIO', 'SIN APERTURA'] },\n      { idNom: 2, idMotivo: 2520, key: 'NO DESEA SER TRANSFERIDO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO QUIERE TRANSFERENCIA', 'RECHAZA TRANSFERENCIA'] },\n      { idNom: 2, idMotivo: 2620, key: 'NO DA APERTURA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO DA APERTURA'] },\n\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 3: PENDIENTE DE ACEPTACION\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 3, idMotivo: 20, key: 'NECESITA PENSAR', wait: 240, maxTries: 2, deltaPrio: 0,\n        aliases: ['PENSARLO', 'LO PIENSA', 'VA A PENSAR'] },\n      { idNom: 3, idMotivo: 2683, key: 'PENDIENTE SOLO PREGUNTA DE TRANSFERENCIA', wait: 60, maxTries: 2, deltaPrio: 0,\n        aliases: ['PREGUNTA TRANSFERENCIA', 'SOLO PREGUNTO'] },\n\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 4: CONTACTO FALLIDO JUSTIFICADO (descarte permanente)\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 4, idMotivo: 22, key: 'CAMBIO DE LUGAR DE TRABAJO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CAMBIO TRABAJO', 'NUEVO TRABAJO'] },\n      { idNom: 4, idMotivo: 23, key: 'CUENTA BANCARIA CERRADA', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['CUENTA CERRADA', 'CERRO CUENTA'] },\n      { idNom: 4, idMotivo: 24, key: 'CUENTA CORPORATIVA O COMPARTIDA', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['CUENTA CORPORATIVA', 'EMPRESA'] },\n      { idNom: 4, idMotivo: 25, key: 'EQUIVOCADO', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['NUMERO EQUIVOCADO', 'WRONG NUMBER'] },\n      { idNom: 4, idMotivo: 26, key: 'NO RESIDE EN EL PAIS', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['FUERA DEL PAIS PERMANENTE', 'EMIGRO'] },\n      { idNom: 4, idMotivo: 27, key: 'NO VIVE AHI', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['YA NO VIVE AHI', 'SE MUDO'] },\n      { idNom: 4, idMotivo: 28, key: 'TITULAR CON DISCAPACIDAD', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['DISCAPACIDAD', 'INCAPACITADO'] },\n      { idNom: 4, idMotivo: 29, key: 'TITULAR FALLECIDO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['FALLECIDO', 'MURIO', 'FALLECIO'] },\n      { idNom: 4, idMotivo: 30, key: 'TITULAR NO HABLA ESPANOL', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO HABLA ESPANOL', 'IDIOMA'] },\n      { idNom: 4, idMotivo: 1005, key: 'IMPOSIBLE CONTACTARSE CON EL CLIENTE', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['IMPOSIBLE CONTACTAR', 'NO SE PUEDE CONTACTAR'] },\n      { idNom: 4, idMotivo: 1043, key: 'CLIENTE SOLICITA NO SER LLAMADO', wait: 0, maxTries: 0, deltaPrio: 0,\n        aliases: ['NO LLAMAR MAS', 'SOLICITA NO LLAMAR'] },\n      { idNom: 4, idMotivo: 1130, key: 'IVR DE EMPRESA', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['IVR', 'IVR EMPRESA', 'CONTESTADOR EMPRESA'] },\n\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 5: CONTACTO FALLIDO NO JUSTIFICADO (reintentar)\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 5, idMotivo: 31, key: 'TITULAR ESTA FUERA DEL PAIS', wait: 240, maxTries: 1, deltaPrio: -1,\n        aliases: ['VIAJANDO', 'DE VIAJE'] },\n      { idNom: 5, idMotivo: 32, key: 'TITULAR NO SE ENCUENTRA', wait: 60, maxTries: 2, deltaPrio: -1,\n        aliases: ['NO ESTA', 'NO SE ENCUENTRA'] },\n      { idNom: 5, idMotivo: 33, key: 'LLAMAR A OTRO TELEFONO', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['OTRO NUMERO', 'OTRO TELEFONO'] },\n      { idNom: 5, idMotivo: 34, key: 'NO SE TRANSFIRIO LA LLAMADA AL TITULAR', wait: 30, maxTries: 2, deltaPrio: -1,\n        aliases: ['NO TRANSFIRIERON', 'NO PASO AL TITULAR'] },\n      { idNom: 5, idMotivo: 35, key: 'SE CORTO LA LLAMADA', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['LLAMADA CORTADA', 'SE CORTO', 'CALL DROPPED'] },\n      { idNom: 5, idMotivo: 38, key: 'VOLVER A LLAMAR', wait: 60, maxTries: 2, deltaPrio: -1,\n        aliases: ['LLAMAR DESPUES', 'LLAMAR MAS TARDE'] },\n      { idNom: 5, idMotivo: 3359, key: 'OCUPADO', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['OCUPADO', 'BUSY'] },\n\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 6: NO CONTACTO JUSTIFICADO (descarte permanente)\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 6, idMotivo: 39, key: 'LINEA TELEFONICA FUERA DE SERVICIO O SUSPENDIDO', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['FUERA DE SERVICIO', 'SUSPENDIDO', 'LINEA SUSPENDIDA'] },\n      { idNom: 6, idMotivo: 40, key: 'LINEA TELEFONICA NO EXISTE', wait: 0, maxTries: 0, deltaPrio: -1,\n        aliases: ['LINEA NO EXISTE', 'NUMERO NO EXISTE'] },\n\n      // ────────────────────────────────────────────────────────────────────\n      // NOMENCLATURA 7: NO CONTACTO NO JUSTIFICADO\n      // ────────────────────────────────────────────────────────────────────\n      { idNom: 7, idMotivo: 41, key: 'BUZON DE VOZ', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['BUZON DE VOZ', 'VOICEMAIL', 'CONTESTADORA'] },\n      { idNom: 7, idMotivo: 42, key: 'NO CONTESTA', wait: 60, maxTries: 0, deltaPrio: -4,\n        aliases: ['NO CONTESTA', 'NO ANSWER'] },\n      { idNom: 7, idMotivo: 43, key: 'SUENA OCUPADO', wait: 15, maxTries: 2, deltaPrio: -1,\n        aliases: ['SUENA OCUPADO', 'OCUPADO', 'BUSY'] },\n      { idNom: 7, idMotivo: 44, key: 'TONO DE FAX', wait: 1, maxTries: 0, deltaPrio: -1,\n        aliases: ['TONO DE FAX', 'FAX'] },\n    ],\n  },\n  \n  // ═══════════════════════════════════════════════════════════════════════\n  // OVERRIDES POR CAMPAÑA (ejemplo)\n  // ═══════════════════════════════════════════════════════════════════════\n  // 'EC-2025-AGRESIVA': {\n  //   ...POLICIES.DEFAULT,\n  //   maxLifetimeTries: 10,\n  //   windows: [ ... ],\n  // },\n};\n\n$json.system_payload = POLICIES[key] || POLICIES.DEFAULT;\nreturn items; // ← mantiene pairing"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        940
      ],
      "id": "3c86da69-16b3-4edc-8db5-b410e0d70e7f",
      "name": "COMO DEBE LLAMAR EL BOT (POLITICAS)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -420,
        1160
      ],
      "id": "09e2f437-919c-4bf9-aaad-c1ed3905bfea",
      "name": "NO HACE NADA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "399d66fc-66e0-450c-ae4b-553e88da1105",
              "leftValue": "={{ $json.id_registro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        1060
      ],
      "id": "c21c604c-2733-4b6b-9438-4c4221907cc9",
      "name": "SI SE ENCONTRO EL ID DEL REGISTRO"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    id_campania: '5783',\n    fecha_inicio: '2026-06-08'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        1180
      ],
      "id": "d1230a3e-8412-4bbe-9b76-4a27abf642a6",
      "name": "CONFIG CAMPANA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\nWITH cfg AS (\n  SELECT \n    0::int  AS pr_fresh, \n    -5::int AS pr_min\n),\n\n/* 🔥 CONSTANTE CONFIGURABLE DE EXPANSION */\nexpansion_config AS (\n  SELECT 0.70::numeric AS threshold_pct\n),\n\n/* 🔥 MOTIVOS QUE NO SE DEBEN REINTENTAR */\npermanent_discard AS (\n  SELECT UNNEST(ARRAY[\n    0,\n    2, 1129, 2620, 2029, 1695, 5, 2520, 14,\n    22, 1043, 23, 24, 25, 1005, 1130, 26, 27, 28, 29, 30,\n    40, 39,\n    44\n  ]) AS motivo\n),\n\n/* 🔥 FECHA DE CARGA (dia 1 = bandera 1) */\ncampaign_start AS (\n  SELECT '{{ $json.fecha_inicio }}'::date AS start_date\n),\n\n/* 🔥 BANDERA DEL DIA DE HOY */\ncurrent_bandera AS (\n  SELECT GREATEST(1,\n    (CURRENT_DATE - (SELECT start_date FROM campaign_start)) + 1\n  ) AS bandera\n),\n\n/* 🔥 ESTADISTICAS DE INTENTOS EN BANDERA ACTUAL */\nbandera_stats AS (\n  SELECT\n    COUNT(*) AS total,\n    COUNT(*) FILTER (\n      WHERE COALESCE(l.intentos_llamada, 0) >= 3\n    ) AS attempted_3plus\n  FROM public.leads_v2 l\n  WHERE TRIM(l.id_campania) = '{{ $json.id_campania }}'\n    AND l.bandera IS NOT NULL\n    AND l.bandera::int = (SELECT bandera FROM current_bandera)\n    AND (\n      l.motivo_ultimo IS NULL\n      OR l.motivo_ultimo NOT IN (SELECT motivo FROM permanent_discard)\n    )\n    AND COALESCE(l.intentos_llamada, 0) < 14\n),\n\n/* 🔥 DECISION: modo estricto (solo bandera actual) vs expandido */\ncall_mode AS (\n  SELECT\n    CASE\n      WHEN COALESCE((SELECT total FROM bandera_stats), 0) = 0 THEN false\n      WHEN (SELECT attempted_3plus FROM bandera_stats) * 1.0\n           / GREATEST((SELECT total FROM bandera_stats), 1)\n           >= (SELECT threshold_pct FROM expansion_config) THEN false\n      ELSE true\n    END AS strict_mode\n),\n\n/* 🔥 NORMALIZAR phones_meta */\nphones_meta_norm AS (\n  SELECT \n    l.id_registro,\n    COALESCE(\n      l.system_payload->'_phones_meta',\n      '{}'::jsonb\n    ) AS meta\n  FROM public.leads_v2 l\n),\n\n/* 🔥 SELECCION DEL SIGUIENTE LEAD */\nnext AS (\n  SELECT l.id_registro\n  FROM public.leads_v2 l\n  JOIN phones_meta_norm pm \n    ON pm.id_registro = l.id_registro\n  CROSS JOIN cfg\n\n  WHERE l.status_flujo IN ('pendiente', 'reintentar')\n\n    AND (\n      l.reintentar_iso IS NULL \n      OR l.reintentar_iso <= NOW()\n    )\n\n    /* 🔥 LIMITE DE VIDA: 14 intentos */\n    AND COALESCE(l.intentos_llamada, 0) < 14\n\n    /* 🔥 LIMITE DIARIO: 7 intentos */\n    AND (\n        l.last_try_ymd IS DISTINCT FROM CURRENT_DATE\n        OR COALESCE((l.system_payload->>'_intentos_hoy')::int, 0) < 7\n    )\n\n    AND TRIM(l.id_campania) = '{{ $json.id_campania }}'\n\n    /* 🔥 FILTRO POR BANDERA */\n    AND l.bandera IS NOT NULL\n    AND (\n      ((SELECT strict_mode FROM call_mode) AND l.bandera::int = (SELECT bandera FROM current_bandera))\n      OR\n      (NOT (SELECT strict_mode FROM call_mode) AND l.bandera::int <= (SELECT bandera FROM current_bandera))\n    )\n\n    /* 🔥 evitar descartes permanentes */\n    AND (\n      l.motivo_ultimo IS NULL\n      OR l.motivo_ultimo NOT IN (\n        SELECT motivo \n        FROM permanent_discard\n      )\n    )\n\n    /* 🔥 VALIDACION MULTI-PHONE */\n    AND (\n      pm.meta = '{}'::jsonb\n      OR EXISTS (\n        SELECT 1\n        FROM jsonb_each(pm.meta) AS p(phone, meta)\n        WHERE COALESCE((meta->>'tries')::int, 0) < 3\n      )\n    )\n\n  ORDER BY\n\n    /* 🔥 PRIORIDAD: mayor prioridad primero */\n    l.prioridad DESC,\n\n    /* 🔥 BANDERA ACTUAL PRIMERO */\n    CASE \n      WHEN l.bandera::int = (SELECT bandera FROM current_bandera) \n      THEN 0 ELSE 1 \n    END,\n\n    /* 🔥 telefono menos usado primero */\n    (\n      SELECT COALESCE(\n        MIN(COALESCE((meta->>'tries')::int, 0)),\n        0\n      )\n      FROM jsonb_each(pm.meta) AS p(phone, meta)\n    ) ASC,\n\n    l.reintentar_iso NULLS FIRST,\n    l.picked_at NULLS FIRST,\n    l.created_at\n\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n),\n\n/* 🔥 MARCAR COMO EN PROCESO */\nupd AS (\n  UPDATE public.leads_v2 l\n  SET \n    status_flujo = 'en_progreso',\n    picked_at    = NOW()\n  FROM next\n  WHERE l.id_registro = next.id_registro\n  RETURNING l.*\n)\n\n/* 🔥 OUTPUT FINAL */\nSELECT \n  l.*,\n\n  /* 🔥 control telefono */\n  l.telefono_field,\n  l.telefono_index,\n\n  /* 🔥 telefono dinamico */\n  CASE l.telefono_field\n    WHEN 'ph_celular'   THEN l.ph_celular\n    WHEN 'ph_celular2'  THEN l.ph_celular2\n    WHEN 'ph_telefono4' THEN l.ph_telefono4\n    WHEN 'ph_comercial' THEN l.ph_comercial\n    ELSE NULL\n  END AS telefono_actual,\n\n  /* 🔥 metadata segura */\n  COALESCE(\n    l.system_payload->'_phones_meta',\n    '{}'::jsonb\n  ) AS phones_meta\n\nFROM upd l;\n\nCOMMIT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1020,
        1120
      ],
      "id": "b1125731-7f6d-43a2-979a-92487e4fccd7",
      "name": "BUSCA Y MARCA COMO EN PROCESO",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "Iz7EEp0WgJu3LXhn",
          "name": "Gea_postgress"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        1140
      ],
      "id": "2aeddddc-da1a-4ec6-9a93-2fe07dbd22af",
      "name": "EJECUTA ESTO CADA 20 SEG"
    },
    {
      "parameters": {
        "content": "AQUI QUEREMOS PERSISTENCIA UNA TAREA AUTOMATIZADA QUE OCURRE CADA 20",
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2020,
        900
      ],
      "id": "8b516290-4c66-4404-a548-e678d81c6b2d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "📞 ELEGIR TELÉFONO\n══════════════════\n\nSelecciona QUÉ número llamar\n\n📋 PROCESO:\n1. Lee campos permitidos\n   (según ventana horaria)\n\n2. Normaliza números a E.164\n   \"09 9999-9999\" \n   → \"+593999999999\"\n\n3. Valida formato\n   ✅ Entre 7-15 dígitos\n   ✅ Empieza con +\n   ❌ Solo ceros\n\n4. Elige primer número válido\n   (según orden de ventana)\n\n🔍 DETECTA:\n- hasPhonesOutsideWindow\n  (tiene números pero no permitidos)\n- isOutOfNumbers\n  (no hay números válidos)\n\n⚠️ NO avanza el cursor automático\n(PROCESA LOS NUMEROS Y FORMATEA lo resetea al cambiar ventana)",
        "height": 620,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        220
      ],
      "typeVersion": 1,
      "id": "081e4ae2-8a6d-429c-9f7d-af1bcf3b4c66",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "🎲 ¿LLAMAR AHORA?\n═════════════════\n\nValida SI se puede llamar\n\n✅ VALIDACIONES:\n1. ¿Menos de 7 intentos? ✓\n2. ¿Estamos en horario? ✓\n3. ¿No llamó mucho hoy? ✓\n\n❌ SI NO CUMPLE:\n→ Marca \"pendiente\"\n→ Programa próxima llamada\n\n🔄 RESET VENTANA:\nCuando cambia de ventana\nreinicia contador y cursor\ndel teléfono\n\n💾 GUARDA:\n- win_stamp: ID ventana actual\n- win_tries: Intentos en ventana\n- telefono_index: Posición del tel",
        "height": 480,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        460
      ],
      "typeVersion": 1,
      "id": "06a83a4b-23d9-486b-9d23-252dad072b9d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "🔍 BUSCAR PRÓXIMO CLIENTE\n═════════════════════════\nSelecciona 1 cliente de la BD\n\nPRIORIDAD:\n1. Clientes nuevos\n2. Mayor prioridad (más urgente)\n3. Más antiguos\n\n✅ Marca como \"en_progreso\"\n🔒 SKIP LOCKED (no duplicar)",
        "height": 260,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        1540
      ],
      "typeVersion": 1,
      "id": "db588216-3835-4a57-ac1c-b8797599838e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "📋 ¿QUÉ HACE?\n═════════════\nCarga las REGLAS de la campaña\n\n🎯 REGLAS IMPORTANTES:\n- Máximo 7 intentos por cliente\n- Horarios de llamada (4 ventanas)\n- Qué teléfonos usar en cada horario\n- Cuándo volver a llamar según resultado\n\n💡 EJEMPLO:\nLunes 9:00-18:59 → Solo celulares\nLunes 19:00-22:00 → Todos los teléfonos",
        "height": 280,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        680
      ],
      "typeVersion": 1,
      "id": "707b3fe1-7a9b-468d-812b-6ffbc9a78350",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Code2": {
      "main": [
        [
          {
            "node": "OCURRE LLAMADA A VAPI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "CONFIG CAMPANA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG CAMPANA": {
      "main": [
        [
          {
            "node": "BUSCA Y MARCA COMO EN PROCESO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDA REGISTRO": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCURRE LLAMADA A VAPI": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OCURRE LLAMADA A VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CUANDO NO SE ENCONTRO NUMERO VALIDO": {
      "main": [
        [
          {
            "node": "GUARDAR REPORTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI NO ESTA FUERA DE LA LISTA DE NUMEROS DISPONIBLES": {
      "main": [
        [
          {
            "node": "GUARDA REGISTRO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CUANDO NO SE ENCONTRO NUMERO VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATEA STATUS": {
      "main": [
        [
          {
            "node": "GUARDA REGISTRO Y CAMPAÑA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESA LOS NUMEROS Y FORMATEA": {
      "main": [
        [
          {
            "node": "SI NO ESTA FUERA DE LA LISTA DE NUMEROS DISPONIBLES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI PUEDE LLAMAR (VERDADERO O FALSO)": {
      "main": [
        [
          {
            "node": "PROCESA LOS NUMEROS Y FORMATEA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FORMATEA STATUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POLITICAS Y REINTENTOS (RESPALDO)": {
      "main": [
        [
          {
            "node": "SI PUEDE LLAMAR (VERDADERO O FALSO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMO DEBE LLAMAR EL BOT (POLITICAS)": {
      "main": [
        [
          {
            "node": "POLITICAS Y REINTENTOS (RESPALDO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI SE ENCONTRO EL ID DEL REGISTRO": {
      "main": [
        [
          {
            "node": "COMO DEBE LLAMAR EL BOT (POLITICAS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO HACE NADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA Y MARCA COMO EN PROCESO": {
      "main": [
        [
          {
            "node": "SI SE ENCONTRO EL ID DEL REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EJECUTA ESTO CADA 20 SEG": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "deadd5b5-b7e9-42ce-8726-bc14d6d60140",
  "meta": {
    "instanceId": "915a7f7568d882a64f47657d6f3fab09c88f51183cb22a1bfa48ee39cc137bcd"
  },
  "id": "WZGNRiWwnqPdlIlI",
  "tags": []
}